## ORM, RE

##### ORM
RDBM에 ORM을 붙이면 ODB모델 처럼 돌린다.

ODB - 객체 지향 방식하는 사람한테 편하다

##### 써야하는 이유

관계형 베이스하고 객체로 보는 거랑은 다른 얘기 = 오버헤드가 존재 = 수 많은 쿼리를 날려야함.

### SQLAlchemy

Engine : 

Dialect : connection을 통해서 DB랑 접근 (cursor같은 역할)

Connection Pool : 액션이 필요할때 나중에 접근함.

In [1]:
import sqlalchemy

In [2]:
sqlalchemy.__version__

'1.3.5'

In [3]:
from sqlalchemy import create_engine

#engine = create_engine("sqlite://", echo = True) # 엔진 만들 수 있음. echo를 True를 두면 log를 남겨줄꺼임
engine = create_engine("sqlite:///:memory:", echo = True)
#engine = create_engine("sqlite:///test.db", echo True")
print(engine)

Engine(sqlite:///:memory:)

dialect+driver://username:password@host:port/database 를 파라미터로 전달해 줘야함

In [4]:
type(engine) # engine 객체 만듬

sqlalchemy.engine.base.Engine

Table

Column

MetaData : 메타클래스로서 상속받아 다 관리해줌. 다 받아다가 엔진에 넘겨줄거임

In [3]:
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey

In [6]:
metadata = MetaData()
users = Table('users', metadata,
Column('id', Integer, primary_key = True),
Column('name', String),
Column('fullname', String)
)

address = Table('addresses', metadata,
Column('id', Integer, primary_key = True),
Column('user_id',None ,ForeignKey('users.id')),
Column('email_address', String, nullable = False)
)

# metadata.create_all(engine)

In [7]:
metadata.tables

immutabledict({'users': Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('fullname', String(), table=<users>), schema=None), 'addresses': Table('addresses', MetaData(bind=None), Column('id', Integer(), table=<addresses>, primary_key=True, nullable=False), Column('user_id', Integer(), ForeignKey('users.id'), table=<addresses>), Column('email_address', String(), table=<addresses>, nullable=False), schema=None)})

In [8]:
metadata.bind # bind 여부 확인

In [9]:
metadata.create_all(engine)

2019-07-09 13:16:10,066 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-07-09 13:16:10,066 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:16:10,070 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-07-09 13:16:10,070 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:16:10,074 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2019-07-09 13:16:10,074 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:16:10,078 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("addresses")
2019-07-09 13:16:10,081 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:16:10,084 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	PRIMARY KEY (id)
)


2019-07-09 13:16:10,085 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:16:10,087 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 13:16:10,089 INFO sqlalchemy.engine.base.Engine
CREATE TABLE addresses (
	id INTEGER NOT NULL,
	user_id INTEGER,
	email_address VARCHAR NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES users (id)
)


2019-07-09 13:16:10,090 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:16:10,091 INFO sqlalchemy.engine.base.Engine COMMIT

외래키와 p.k를 매핑시켜주면 알아서 on을 안적어도 된다.

In [10]:
insert = users.insert() # 쿼리 확인
print(insert)

INSERT INTO users (id, name, fullname) VALUES (:id, :name, :fullname)

In [11]:
insert = users.insert().values(name = 'kim', fullname = 'Anonymous Kim')
print(insert)

INSERT INTO users (name, fullname) VALUES (:name, :fullname)

In [12]:
insert.compile().params # sql 구문을 만들어줌.

{'name': 'kim', 'fullname': 'Anonymous Kim'}

insert를 통해 집어넣을 수 있다.

실제 적용시키려면 connection이라는 얘와 cursor(Proxy)라는 얘를 연결한다.

In [13]:
conn = engine.connect()
conn

insert.bind = engine # engine을 bind 해줘서 일하라고 시킴
str(insert)

result = conn.execute(insert) # result는 cursor 객체

result.inserted_primary_key

2019-07-09 13:16:16,669 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname) VALUES (?, ?)
2019-07-09 13:16:16,673 INFO sqlalchemy.engine.base.Engine ('kim', 'Anonymous Kim')
2019-07-09 13:16:16,673 INFO sqlalchemy.engine.base.Engine COMMIT

[1]

In [14]:
insert = users.insert()
result = conn.execute(insert, name="lee", fullname = "UnKnown, Lee")
result.inserted_primary_key

2019-07-09 13:16:17,124 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname) VALUES (?, ?)
2019-07-09 13:16:17,125 INFO sqlalchemy.engine.base.Engine ('lee', 'UnKnown, Lee')
2019-07-09 13:16:17,126 INFO sqlalchemy.engine.base.Engine COMMIT

[2]

In [15]:
conn.execute(address.insert(),[
    {"user_id":1, "email_address":"anonymous.kim@naver.com"},
    {"user_id":2, "email_address":"unknown.lee@naver.com"}
])

2019-07-09 13:16:18,502 INFO sqlalchemy.engine.base.Engine INSERT INTO addresses (user_id, email_address) VALUES (?, ?)
2019-07-09 13:16:18,502 INFO sqlalchemy.engine.base.Engine ((1, 'anonymous.kim@naver.com'), (2, 'unknown.lee@naver.com'))
2019-07-09 13:16:18,502 INFO sqlalchemy.engine.base.Engine COMMIT

###### select

In [16]:
from sqlalchemy.sql import select

query = select([users])
result = conn.execute(query)

for rows in result:
    print(rows)

2019-07-09 13:16:20,212 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users
2019-07-09 13:16:20,216 INFO sqlalchemy.engine.base.Engine ()
(1, 'kim', 'Anonymous Kim')
(2, 'lee', 'UnKnown, Lee')

In [17]:
result = conn.execute(select([users.c.name, users.c.fullname]))

result.fetchall()

2019-07-09 13:16:22,043 INFO sqlalchemy.engine.base.Engine SELECT users.name, users.fullname
FROM users
2019-07-09 13:16:22,044 INFO sqlalchemy.engine.base.Engine ()

[('kim', 'Anonymous Kim'), ('lee', 'UnKnown, Lee')]

In [18]:
result = conn.execute(select([users]).where(users.c.id==1))
for row in result:
    print(row)

2019-07-09 13:17:09,275 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users
WHERE users.id = ?
2019-07-09 13:17:09,277 INFO sqlalchemy.engine.base.Engine (1,)
(1, 'kim', 'Anonymous Kim')

In [23]:
result = conn.execute(select([users, address]).where(users.c.id==address.c.user_id))
for row in result:
    print(row)

2019-07-09 13:18:41,556 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname, addresses.id, addresses.user_id, addresses.email_address
FROM users, addresses
WHERE users.id = addresses.user_id
2019-07-09 13:18:41,557 INFO sqlalchemy.engine.base.Engine ()
(1, 'kim', 'Anonymous Kim', 1, 1, 'anonymous.kim@naver.com')
(2, 'lee', 'UnKnown, Lee', 2, 2, 'unknown.lee@naver.com')

In [24]:
from sqlalchemy import join
print(users.join(address))
#print(users.join(address, users.c.id == address.c.user_id)) # 외래키로 묶었느니 on절 필요없다.

users JOIN addresses ON users.id = addresses.user_id

In [25]:
query = select([users.c.id, users.c.fullname, address.c.email_address]).select_from(users.join(address))
# select_from : join형태로 묶어줌.
result = conn.execute(query).fetchall()
for row in result:
    print(row)

2019-07-09 13:25:18,557 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.fullname, addresses.email_address
FROM users JOIN addresses ON users.id = addresses.user_id
2019-07-09 13:25:18,562 INFO sqlalchemy.engine.base.Engine ()
(1, 'Anonymous Kim', 'anonymous.kim@naver.com')
(2, 'UnKnown, Lee', 'unknown.lee@naver.com')

단점 : 테이블 변경 불가능 새로 다 만들어야함

In [42]:
metadata.clear()

In [43]:
metadata.tables

immutabledict({})

In [4]:
from sqlalchemy import create_engine

#engine = create_engine("sqlite://", echo = True) # 엔진 만들 수 있음. echo를 True를 두면 log를 남겨줄꺼임
#engine = create_engine("sqlite:///:memory:", echo = True)
engine = create_engine("sqlite:///test.db", echo = True)
print(engine)

In [45]:
metadata = MetaData()
artist = Table('Artist', metadata,
Column('id', Integer, primary_key = True),
Column('name', String, nullable = False),
extend_existing = True
)

album = Table('Album', metadata,
Column('id', Integer, primary_key = True),
Column('title', String, nullable = False),
Column('artist_id', Integer, ForeignKey("Artist.id")),
extend_existing = True
)

genre = Table('Genre', metadata,
Column('id', Integer, primary_key = True),
Column('name', String, nullable = False),
extend_existing = True
)

track = Table('Track', metadata,
Column('id', Integer, primary_key = True),
Column('name', String, nullable = False),
Column('length', Integer, nullable = False),
Column('rating', Integer, nullable = False),
Column('count', Integer, nullable = False),
Column('album_id', Integer, ForeignKey("Album.id")),
Column('genre_id', Integer, ForeignKey("Genre.id")),
extend_existing = True
)

metadata.create_all(engine)

2019-07-09 13:51:01,601 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-07-09 13:51:01,601 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:51:01,605 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-07-09 13:51:01,606 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:51:01,606 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Artist")
2019-07-09 13:51:01,606 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:51:01,609 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Album")
2019-07-09 13:51:01,610 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:51:01,612 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Genre")
2019-07-09 13:51:01,613 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:51:01,614 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Track")
2019-07-09 13:51:01,615 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:51:01,617 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Artist" (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2019-07-09 13:51:01,618 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:51:01,623 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 13:51:01,624 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Genre" (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2019-07-09 13:51:01,625 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:51:01,629 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 13:51:01,631 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Album" (
	id INTEGER NOT NULL,
	title VARCHAR NOT NULL,
	artist_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(artist_id) REFERENCES "Artist" (id)
)


2019-07-09 13:51:01,631 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:51:01,634 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 13:51:01,637 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Track" (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	length INTEGER NOT NULL,
	rating INTEGER NOT NULL,
	count INTEGER NOT NULL,
	album_id INTEGER,
	genre_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(album_id) REFERENCES "Album" (id),
	FOREIGN KEY(genre_id) REFERENCES "Genre" (id)
)


2019-07-09 13:51:01,637 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:51:01,641 INFO sqlalchemy.engine.base.Engine COMMIT

In [46]:
insert = artist.insert()
print(insert)

INSERT INTO "Artist" (id, name) VALUES (:id, :name)

In [47]:
conn = engine.connect()

In [48]:
conn.execute(artist.insert(),
            [
                {"name":"Led Zepplin"},
                {"name":"AC/DC"}
            ]
)

conn.execute(album.insert(),
            [
                {"title":"TV", "artist_id":1},
                {"title":"AC/DC", "artist_id":2}
            ]
)

conn.execute(genre.insert(),
            [
                {"name":"Rock"},
                {"name":"Metal"}
            ]
)

conn.execute(track.insert(),
            [
                {"name":"Black Dog", "rating":5, "length": 297, "count":0, "album_id":1,"genre_id":1},
                {"name":"Stairway", "rating":5, "length": 482, "count":0, "album_id":1,"genre_id":1},
                {"name":"About to rock", "rating":5, "length": 313, "count":0, "album_id":2,"genre_id":2},
                {"name":"Who made who", "rating":5, "length": 297, "count":0, "album_id":2,"genre_id":2}
            ]
)

2019-07-09 13:51:08,385 INFO sqlalchemy.engine.base.Engine INSERT INTO "Artist" (name) VALUES (?)
2019-07-09 13:51:08,389 INFO sqlalchemy.engine.base.Engine (('Led Zepplin',), ('AC/DC',))
2019-07-09 13:51:08,392 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 13:51:08,397 INFO sqlalchemy.engine.base.Engine INSERT INTO "Album" (title, artist_id) VALUES (?, ?)
2019-07-09 13:51:08,399 INFO sqlalchemy.engine.base.Engine (('TV', 1), ('AC/DC', 2))
2019-07-09 13:51:08,401 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 13:51:08,404 INFO sqlalchemy.engine.base.Engine INSERT INTO "Genre" (name) VALUES (?)
2019-07-09 13:51:08,406 INFO sqlalchemy.engine.base.Engine (('Rock',), ('Metal',))
2019-07-09 13:51:08,409 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 13:51:08,413 INFO sqlalchemy.engine.base.Engine INSERT INTO "Track" (name, length, rating, count, album_id, genre_id) VALUES (?, ?, ?, ?, ?, ?)
2019-07-09 13:51:08,413 INFO sqlalchemy.engine.base.Engine (('Black Dog', 297, 5, 0, 1, 1), ('Stairway', 482, 5, 0, 1, 1), ('About to rock', 313, 5, 0, 2, 2), ('Who made who', 297, 5, 0, 2, 2))
2019-07-09 13:51:08,415 INFO sqlalchemy.engine.base.Engine COMMIT

In [ ]:
conn.execute

In [50]:
tables = metadata.tables
for table in tables:
    print(table)
    
for table in engine.table_names():
    print(table)

Artist
Album
Genre
Track
2019-07-09 14:07:02,138 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-07-09 14:07:02,139 INFO sqlalchemy.engine.base.Engine ()
Album
Artist
Genre
Track

engine이 데이터베이스를 물고있기 때문에 table을 출력하면 동일하다.

and_ or_

In [51]:
result = conn.execute(track.select().select_from(track.join(album)))

for row in result.fetchall():
    print(row)

2019-07-09 14:12:33,277 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".name, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id
2019-07-09 14:12:33,278 INFO sqlalchemy.engine.base.Engine ()
(1, 'Black Dog', 297, 5, 0, 1, 1)
(2, 'Stairway', 482, 5, 0, 1, 1)
(3, 'About to rock', 313, 5, 0, 2, 2)
(4, 'Who made who', 297, 5, 0, 2, 2)

In [54]:
result = conn.execute(select([track.c.name, album.c.title, genre.c.name, artist.c.name]).select_from(track.join(album).join(genre).join(artist)))

for row in result.fetchall():
    print(row)

2019-07-09 14:15:21,659 INFO sqlalchemy.engine.base.Engine SELECT "Track".name, "Album".title, "Genre".name, "Artist".name
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Genre" ON "Genre".id = "Track".genre_id JOIN "Artist" ON "Artist".id = "Album".artist_id
2019-07-09 14:15:21,661 INFO sqlalchemy.engine.base.Engine ()
('Black Dog', 'TV', 'Rock', 'Led Zepplin')
('Stairway', 'TV', 'Rock', 'Led Zepplin')
('About to rock', 'AC/DC', 'Metal', 'AC/DC')
('Who made who', 'AC/DC', 'Metal', 'AC/DC')

In [55]:
conn.close()
metadata.clear()

In [58]:
metadata.tables

immutabledict({})

In [62]:
for table in engine.table_names():
    print(table) # 메모리에는 없고 데이터베이스에만 있는상태.

2019-07-09 14:22:05,182 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-07-09 14:22:05,183 INFO sqlalchemy.engine.base.Engine ()
Album
Artist
Genre
Track

MetaData(bind = engine, reflect = True)

In [63]:
metadata = MetaData(bind = engine, reflect = True)
metadata.reflect(bind=engine)
for row in metadata.tables:
    print(row)

2019-07-09 14:24:04,055 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-07-09 14:24:04,056 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:04,058 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Album")
2019-07-09 14:24:04,060 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:04,062 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2019-07-09 14:24:04,063 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:04,064 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Album")
2019-07-09 14:24:04,064 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:04,066 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2019-07-09 14:24:04,067 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:04,070 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Artist")
2019-07-09 14:24:04,071 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:04,073 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2019-07-09 14:24:04,074 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:04,076 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Artist")
2019-07-09 14:24:04,076 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:04,078 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2019-07-09 14:24:04,078 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:04,080 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Artist")
2019-07-09 14:24:04,080 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:04,082 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Artist")
2019-07-09 14:24:04,082 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:04,084 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2019-07-09 14:24:04,085 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:04,088 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Album")
2019-07-09 14:24:04,089 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:04,090 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Album")
2019-07-09 14:24:04,091 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:04,092 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2019-07-09 14:24:04,093 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:04,094 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Genre")
2019-07-09 14:24:04,095 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:04,098 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2019-07-09 14:24:04,099 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:04,101 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Genre")
2019-07-09 14:24:04,102 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:04,103 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2019-07-09 14:24:04,104 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:04,106 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Genre")
2019-07-09 14:24:04,106 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:04,108 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Genre")
2019-07-09 14:24:04,109 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:04,110 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2019-07-09 14:24:04,110 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:04,112 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Track")
2019-07-09 14:24:04,113 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:04,117 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2019-07-09 14:24:04,118 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:04,120 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Track")
2019-07-09 14:24:04,121 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:04,123 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2019-07-09 14:24:04,124 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:04,126 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Track")
2019-07-09 14:24:04,127 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:04,128 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Track")
2019-07-09 14:24:04,129 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:04,130 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2019-07-09 14:24:04,131 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:04,135 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-07-09 14:24:04,136 INFO sqlalchemy.engine.base.Engine ()
Album
Artist
Genre
Track

C:\Users\seo\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SADeprecationWarning: The MetaData.reflect flag is deprecated and will be removed in a future release.   Please use the MetaData.reflect() method.
  """Entry point for launching an IPython kernel.

### SQLAlchemy ORM

ORM을 사용하기위해 바로 ORM에서 시작하기 위해 base가 필요함

이 base를 상속받아서 테이블을 만들수 있음.

In [92]:
conn.close()
metadata.clear()

In [93]:
from sqlalchemy import create_engine
engine = create_engine("sqlite:///declarexample.db", echo = True)

from sqlalchemy.ext.declarative import declarative_base
base = declarative_base()

In [94]:
class User(base):
    __tablename__ = "users"
    
    id = Column(Integer, primary_key = True)
    name = Column(String)
    fullname = Column(String)
    password = Column("passwd", String)
    
    def __repr__(self):
        return "<T'User(name='%s', fullname='%s', password='%s')>" % (self.name, self.fullname, self.password)

In [95]:
User.__table__

Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('fullname', String(), table=<users>), Column('passwd', String(), table=<users>), schema=None)

In [96]:
User.__mapper__ # User가 나오는지 확인

In [97]:
base.metadata.create_all(engine)

2019-07-09 14:43:36,879 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-07-09 14:43:36,881 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:43:36,883 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-07-09 14:43:36,885 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:43:36,886 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2019-07-09 14:43:36,887 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:43:36,889 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	passwd VARCHAR,
	PRIMARY KEY (id)
)


2019-07-09 14:43:36,890 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:43:36,894 INFO sqlalchemy.engine.base.Engine COMMIT

In [98]:
kim = User(name="kim", fullname = "anonymous, Kim", password = "kimbap heaven")

In [99]:
print(kim)
print(kim.id)

<T'User(name='kim', fullname='anonymous, Kim', password='kimbap heaven')>
None

데이터베이스와 객체를 오고갈수 있는 매채

In [9]:
from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind=engine)
session = Session()

In [102]:
session.add(kim)
session.add_all([
    User(name="lee", fullname = "unknown, Lee", password="123456")
])

In [103]:
session.commit()

2019-07-09 14:46:33,114 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-07-09 14:46:33,117 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, passwd) VALUES (?, ?, ?)
2019-07-09 14:46:33,118 INFO sqlalchemy.engine.base.Engine ('kim', 'anonymous, Kim', 'kimbap heaven')
2019-07-09 14:46:33,121 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, passwd) VALUES (?, ?, ?)
2019-07-09 14:46:33,122 INFO sqlalchemy.engine.base.Engine ('lee', 'unknown, Lee', '123456')
2019-07-09 14:46:33,124 INFO sqlalchemy.engine.base.Engine COMMIT

In [104]:
session.add(User(name="seo", fullname = "nobody, seo", password="654321a"))

In [105]:
session.dirty

IdentitySet([])

In [107]:
session.commit()

2019-07-09 14:48:55,318 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-07-09 14:48:55,320 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, passwd) VALUES (?, ?, ?)
2019-07-09 14:48:55,321 INFO sqlalchemy.engine.base.Engine ('seo', 'nobody, seo', '654321a')
2019-07-09 14:48:55,324 INFO sqlalchemy.engine.base.Engine COMMIT

In [108]:
session.dirty

IdentitySet([])

In [109]:
session.add(User(name="back", fullname = "nobody, seo", password="654321a"))

In [114]:
User(name="let", fullname = "nobody, seo", password="654321a")

In [115]:
session.commit()

2019-07-09 14:50:52,652 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-07-09 14:50:52,653 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, passwd) VALUES (?, ?, ?)
2019-07-09 14:50:52,654 INFO sqlalchemy.engine.base.Engine ('back', 'nobody, seo', '654321a')
2019-07-09 14:50:52,657 INFO sqlalchemy.engine.base.Engine COMMIT

In [119]:
kim.password = "aaaaaa"

In [120]:
session.dirty

IdentitySet([<T'User(name='kim', fullname='anonymous, Kim', password='aaaaaa')>])

In [121]:
session.is_modified(kim)

True

In [122]:
session.commit()

2019-07-09 14:52:40,567 INFO sqlalchemy.engine.base.Engine UPDATE users SET passwd=? WHERE users.id = ?
2019-07-09 14:52:40,568 INFO sqlalchemy.engine.base.Engine ('aaaaaa', 1)
2019-07-09 14:52:40,571 INFO sqlalchemy.engine.base.Engine COMMIT

In [123]:
kim.id

2019-07-09 14:55:40,320 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-07-09 14:55:40,320 INFO sqlalchemy.engine.base.Engine SELECT users.passwd AS users_passwd, users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname
FROM users
WHERE users.id = ?
2019-07-09 14:55:40,324 INFO sqlalchemy.engine.base.Engine (1,)

1

In [125]:
for row in session.query(User):
    print(type(row))
    print(row.id, row.name, row.fullname, row.password)

2019-07-09 15:10:08,152 INFO sqlalchemy.engine.base.Engine SELECT users.passwd AS users_passwd, users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname
FROM users
2019-07-09 15:10:08,152 INFO sqlalchemy.engine.base.Engine ()
<class '__main__.User'>
1 kim anonymous, Kim aaaaaa
<class '__main__.User'>
2 lee unknown, Lee 123456
<class '__main__.User'>
3 seo nobody, seo 654321a
<class '__main__.User'>
4 back nobody, seo 654321a

In [1]:
from sqlalchemy import create_engine
engine = create_engine("sqlite:///test.db", echo = True)

from sqlalchemy.ext.declarative import declarative_base
base = declarative_base()

In [5]:
class Artist(base):
    __tablename__ = "Artist"
    id = Column(Integer, primary_key = True)
    name = Column(String)

class Album(base):
    __tablename__ = "Album"
    id = Column(Integer, primary_key = True)
    title = Column(String)
    artist_id = Column(Integer, ForeignKey("Artist.id"))
    
    
class Genre(base):
    __tablename__ = "Genre"
    id = Column(Integer, primary_key = True)
    name = Column(String)
    
    
class Track(base):
    __tablename__ = "Track"
    id = Column(Integer, primary_key = True)
    title = Column(String)
    length = Column(Integer)
    rating = Column(Integer)
    count = Column(Integer)
    artist_id = Column(Integer, ForeignKey("Artist.id"))
    genre_id = Column(Integer, ForeignKey("Genre.id"))

In [12]:
artist1 = Artist(name="Led Zepplin")
artist2 = Artist(name="AC/DC")

session.add_all([artist1,artist2])
session.commit()

2019-07-09 15:27:13,205 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-07-09 15:27:13,212 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:27:13,215 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-07-09 15:27:13,216 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:27:13,217 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-07-09 15:27:13,222 INFO sqlalchemy.engine.base.Engine INSERT INTO "Artist" (name) VALUES (?)
2019-07-09 15:27:13,222 INFO sqlalchemy.engine.base.Engine ('Led Zepplin',)
2019-07-09 15:27:13,226 INFO sqlalchemy.engine.base.Engine INSERT INTO "Artist" (name) VALUES (?)
2019-07-09 15:27:13,227 INFO sqlalchemy.engine.base.Engine ('AC/DC',)
2019-07-09 15:27:13,229 INFO sqlalchemy.engine.base.Engine COMMIT

In [ ]:
album = [Album]

Relationship : ORM를 쓰는 이유

- Artist는 앨범을 통해 트랙을 찾아야만한다.
- join이라는 것을 통해 찾아야만 했다.
- realtionship이라는 건 관계가 있는 두 테이블을 이용해서 더 효과적으로 접근할 수 있게함.
- back_populates : 스칼라를 가져올꺼냐 리스트를 가져올 것이냐/ backref : 나를 참조하는 얘를 찾아 갈 수 있음.
- relationship에서 인잘 uselist에 False를 쓰면 1대 1 관계

In [1]:
from sqlalchemy import *

In [2]:
from sqlalchemy.sql import *
from sqlalchemy.orm import *

In [3]:
engine = create_engine("sqlite:///test.db", echo = True)

from sqlalchemy.ext.declarative import declarative_base
base = declarative_base()
base.metadata.create_all(engine)

2019-07-09 15:46:46,167 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-07-09 15:46:46,174 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:46:46,175 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-07-09 15:46:46,177 INFO sqlalchemy.engine.base.Engine ()

In [4]:
class Artist(base):
    __tablename__ = "Artist"
    id = Column(Integer, primary_key = True)
    name = Column(String)
    
    albumList = relationship("Album", back_populates = "artist")

class Album(base):
    __tablename__ = "Album"
    id = Column(Integer, primary_key = True)
    title = Column(String)
    artist_id = Column(Integer, ForeignKey("Artist.id"))
    
    artist = relationship("Artist", back_populates = "albumList", uselist= False)
    trackList = relationship("Track", back_populates = "album")
    
    
class Genre(base):
    __tablename__ = "Genre"
    id = Column(Integer, primary_key = True)
    name = Column(String)
    
    trackList = relationship("Track", back_populates = "genre")
    
    
class Track(base):
    __tablename__ = "Track"
    id = Column(Integer, primary_key = True)
    title = Column(String)
    length = Column(Integer)
    rating = Column(Integer)
    count = Column(Integer)
    album_id = Column(Integer, ForeignKey("Album.id"))
    genre_id = Column(Integer, ForeignKey("Genre.id"))
    
    
    album = relationship("Album", back_populates = "trackList", uselist= False)
    genre = relationship("Genre", back_populates = "trackList", uselist= False)

In [11]:
track1 = Track(title = "Black Dog", rating = 5 , legth=297, count = 0)
track2 = Track(title = "Stairway", rating = 5 , legth=482, count = 0)
track3 = Track(title = "About to rock", rating = 5 , legth=313, count = 0)
track4 = Track(title = "Who Made Who", rating = 5 , legth=297, count = 0)

InvalidRequestError: One or more mappers failed to initialize - can't proceed with initialization of other mappers. Triggering mapper: 'mapped class Album->Album'. Original exception was: Could not determine join condition between parent/child tables on relationship Album.trackList - there are no foreign keys linking these tables.  Ensure that referencing columns are associated with a ForeignKey or ForeignKeyConstraint, or specify a 'primaryjoin' expression.

In [7]:
Track.rating

In [9]:
base.metadata.tables

immutabledict({'Artist': Table('Artist', MetaData(bind=None), Column('id', Integer(), table=<Artist>, primary_key=True, nullable=False), Column('name', String(), table=<Artist>), schema=None), 'Album': Table('Album', MetaData(bind=None), Column('id', Integer(), table=<Album>, primary_key=True, nullable=False), Column('title', String(), table=<Album>), Column('artist_id', Integer(), ForeignKey('Artist.id'), table=<Album>), schema=None), 'Genre': Table('Genre', MetaData(bind=None), Column('id', Integer(), table=<Genre>, primary_key=True, nullable=False), Column('name', String(), table=<Genre>), schema=None), 'Track': Table('Track', MetaData(bind=None), Column('id', Integer(), table=<Track>, primary_key=True, nullable=False), Column('title', String(), table=<Track>), Column('length', Integer(), table=<Track>), Column('rating', Integer(), table=<Track>), Column('count', Integer(), table=<Track>), Column('artist_id', Integer(), ForeignKey('Artist.id'), table=<Track>), Column('genre_id', Integer(), ForeignKey('Genre.id'), table=<Track>), schema=None)})

In [10]:
base.metadata.create_all(engine)

2019-07-09 15:44:34,874 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-07-09 15:44:34,882 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:44:34,885 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-07-09 15:44:34,886 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:44:34,888 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Artist")
2019-07-09 15:44:34,888 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:44:34,891 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Album")
2019-07-09 15:44:34,892 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:44:34,894 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Genre")
2019-07-09 15:44:34,895 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:44:34,896 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Track")
2019-07-09 15:44:34,897 INFO sqlalchemy.engine.base.Engine ()