In [1]:
import sqlite3

In [2]:
sqlite3.version

'2.6.0'

In [5]:
sqlite3.version_info

(2, 6, 0)

In [6]:
sqlite3.sqlite_version

'3.27.2'

In [22]:
conn = sqlite3.connect(':memory:')# DB 접속 conn = sqlite3.connect('경로/이름' or ':memory:')

In [23]:
cur = conn.cursor() # cursor 객체 생성, 이것을 이용해서 데이터베이스와 주고받음.

In [24]:
dir(cur)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'arraysize',
 'close',
 'connection',
 'description',
 'execute',
 'executemany',
 'executescript',
 'fetchall',
 'fetchmany',
 'fetchone',
 'lastrowid',
 'row_factory',
 'rowcount',
 'setinputsizes',
 'setoutputsize']

execute 시리즈 : sql 문 실행하기

fetch 시리즈 : 데이터 불러오기

In [25]:
dir(conn)

['DataError',
 'DatabaseError',
 'Error',
 'IntegrityError',
 'InterfaceError',
 'InternalError',
 'NotSupportedError',
 'OperationalError',
 'ProgrammingError',
 'Warning',
 '__call__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'backup',
 'close',
 'commit',
 'create_aggregate',
 'create_collation',
 'create_function',
 'cursor',
 'enable_load_extension',
 'execute',
 'executemany',
 'executescript',
 'in_transaction',
 'interrupt',
 'isolation_level',
 'iterdump',
 'load_extension',
 'rollback',
 'row_factory',
 'set_authorizer',
 'set_progress_handler',
 'set_trace_callback',
 'text_factory',
 'total_changes']

connection 객체을 cursor을 임시로 생성하기 때문에 사용하지 않는다.

fetchall : 리스트의 형태로 다 받아옴.
fetchone : 결과를 한개 가져옴

In [26]:
cur.execute("select sqlite_version();") # execute() 는 하나의 문을 하니까 세미콜론을 안들어가도 된다.(하지만 써줘야함)

commit을 해야지 반영이 된다.

execute("insert into people values (?,?)", (who,age)) <br>
execute("select * from people where name_last=:who and age=:age", {"who" : who ,"age" : age})

In [27]:
cur.fetchall()

[('3.27.2',)]

In [28]:
sqlite3.complete_statement("select sqlite_version()") # sql 구문을 올바르게 썼는지 확인

False

세미콜론을 반드시 써줘야한다.

executemany(sql, seq_or_parameters)

In [30]:
sql = "create table person (name_last, age)"
cur.execute(sql)

In [32]:
sql = "insert into person values (?,?)"
curData = [('A',1),('B',2),('C',3)]
cur.executemany(sql, curData)

In [39]:
sql = "insert into person(name_last,age) values (?,?)"
curData = {'name_last':['D','F','G'], 'age':[4,5,6]}
cur.executemany(sql, curData)

ProgrammingError: Incorrect number of bindings supplied. The current statement uses 2, and there are 9 supplied.

In [41]:
cur.execute("SELECT * FROM person WHERE name_last=:who and age=:age",{"who" : 'A' ,"age" : 1})
cur.fetchone()

('A', 1)

In [43]:
datadict = [{"who": "E", "age":1},{"who": "F", "age":1},{"who": "G", "age":1}]
cur.executemany("INSERT INTO person VALUES(:who,:age)", datadict)

In [44]:
cur.execute("SELECT * FROM person")

In [45]:
cur.fetchall()

[('A', 1), ('B', 2), ('C', 3), ('E', 1), ('F', 1), ('G', 1)]

executescript는 실행전에 다 commit을 한다.

In [46]:
cur.executescript("""
    create table people(
        first_name text primary key,
        last_name text not null
    );
    
    insert into people values ('name', 'kim');
""")

In [48]:
cur.execute('select * from people;') # select는 별도로 써줘야함.
print(cur.fetchall())

[('name', 'kim')]

In [49]:
cur.execute('select * from person;') # select는 별도로 써줘야함.
print(cur.fetchone())

('A', 1)

In [50]:
print(cur.fetchone())

('B', 2)

In [51]:
print(cur.fetchmany(3))

[('C', 3), ('E', 1), ('F', 1)]

In [53]:
conn.close()

In [11]:
conn.close()

In [2]:
conn = sqlite3.connect('create.db')
print("Opened database successfully")
cur = conn.cursor()

cur.execute('''
    CREATE TABLE COMPANY(
        ID INT PRIMARY KEY NOT NULL,
        NAME TEXT NOT NULL,
        AGE INT NOT NULL,
        ADDRESS CHAR(50),
        SALARY REAL);
''')

print("Table created successfully")

Opened database successfully
Table created successfully

In [3]:
cur = conn.cursor()

In [21]:
conn.execute('drop table company')

OperationalError: database is locked

In [4]:
cur.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) VALUES (1, 'Paul',32,'California',20000.00);")

In [5]:
cur.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) VALUES (:id, :name,:age,:address,:salary);",
             {'id':2,'name':'Allen','age':25,'address':'Texas','salary': 15000.00 });

In [6]:
data = [(3,'Teddy',23,'Norway',200000.00), (4,'Mark', 25,'Rich-Mond', 65000.00)]

In [7]:
cur.executemany("INSERT INTO COMPANY(ID, NAME,AGE,ADDRESS,SALARY) VALUES(?,?,?,?,?)",data)

In [8]:
cur.executescript("""
    INSERT INTO COMPANY(ID,NAME,AGE,ADDRESS,SALARY)
    VALUES(5,'Mark1', 25,'Rich-Mond', 65000.00);
    
    INSERT INTO COMPANY(ID,NAME,AGE,ADDRESS,SALARY)
    VALUES(6,'Mark2',25,'Rich-Mond', 65000.00);
""")

In [9]:
conn.commit()

In [10]:
cur.lastrowid

2

In [36]:
cur.execute("SELECT id, name, address, salary from COMPANY")

for row in cur:
    print("ID = ", row[0])
    print("NAME = ", row[1])
    print("ADDRESS = ", row[2])
    print("SALARY = ", row[3])

ID =  1
NAME =  Paul
ADDRESS =  California
SALARY =  20000.0
ID =  2
NAME =  Allen
ADDRESS =  Texas
SALARY =  15000.0
ID =  3
NAME =  Teddy
ADDRESS =  Norway
SALARY =  200000.0
ID =  4
NAME =  Mark
ADDRESS =  Rich-Mond
SALARY =  65000.0
ID =  5
NAME =  Mark1
ADDRESS =  Rich-Mond
SALARY =  65000.0
ID =  6
NAME =  Mark2
ADDRESS =  Rich-Mond
SALARY =  65000.0

In [37]:
cur.execute("SELECT id, name, address, salary from COMPANY")

for row in cur:
    print("ID = ", type(row[0]))
    print("NAME = ", type(row[1]))
    print("ADDRESS = ", type(row[2]))
    print("SALARY = ", type(row[3]))

ID =  <class 'int'>
NAME =  <class 'str'>
ADDRESS =  <class 'str'>
SALARY =  <class 'float'>
ID =  <class 'int'>
NAME =  <class 'str'>
ADDRESS =  <class 'str'>
SALARY =  <class 'float'>
ID =  <class 'int'>
NAME =  <class 'str'>
ADDRESS =  <class 'str'>
SALARY =  <class 'float'>
ID =  <class 'int'>
NAME =  <class 'str'>
ADDRESS =  <class 'str'>
SALARY =  <class 'float'>
ID =  <class 'int'>
NAME =  <class 'str'>
ADDRESS =  <class 'str'>
SALARY =  <class 'float'>
ID =  <class 'int'>
NAME =  <class 'str'>
ADDRESS =  <class 'str'>
SALARY =  <class 'float'>