In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('create.db')

In [3]:
cur = conn.cursor()

In [4]:
cur.executescript('''
    CREATE TABLE Artist(
        id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
        name TEXT NOT NULL
    );
    
    CREATE TABLE Genre(
        id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
        name TEXT NOT NULL
    );
    
    CREATE TABLE Album(
        id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
        title TEXT NOT NULL,
        artist_id INTEGER
    );
''')

In [6]:
cur.executescript('''
    CREATE TABLE Track(
        id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
        title TEXT NOT NULL,
        length INTEGER,
        rating INTEGER,
        count INTEGER,
        album_id INTEGER,
        genre_id INTEGER
    );
    
    INSERT INTO Artist(name) values('Led Zepplin');
    INSERT INTO Artist(name) values('AC/DC');
    
    INSERT INTO Genre(name) values('Rock');
    INSERT INTO Genre(name) values('Metal')
''')

In [7]:
cur.execute('''
    INSERT INTO Album (title, artist_id) 
    VALUES(:album ,(SELECT id FROM artist WHERE name =:artist))
''', {"album": "ABC", "artist":"Led Zepplin"})

In [9]:
conn.commit()

In [14]:
cur.executescript('''
    INSERT INTO Track(title, rating, length, count, album_id, genre_id) values('Black Dog', 5,297,0,2,1);
    INSERT INTO Track(title, rating, length, count, album_id, genre_id) values('Stairway', 5,482,0,2,1);
    INSERT INTO Track(title, rating, length, count, album_id, genre_id) values('About to Rock', 5,313,0,1,2);
    INSERT INTO Track(title, rating, length, count, album_id, genre_id) values('Who Made Who', 5,207,0,1,2);
''')

In [17]:
cur.execute("DELETE FROM Album WHERE id = 2")

In [18]:
conn.commit()

In [19]:
cur.execute('''
    INSERT INTO Album (title, artist_id) 
    VALUES(:album ,(SELECT id FROM artist WHERE name =:artist))
''', {"album": "Who Made Who", "artist":"AC/DC"})
conn.commit()

In [25]:
cur.execute('''
    SELECT Album.title, Artist.name
    FROM Album
    JOIN Artist on
    Album.artist_id = Artist.id
''')

In [26]:
conn.commit()

In [27]:
cur.fetchall()

[('ABC', 'Led Zepplin'), ('Who Made Who', 'AC/DC')]

In [41]:
cur.execute('''
    SELECT Track.title, Genre.name
    FROM Track
    JOIN Genre on
    Track.genre_id = Genre.id
''')

In [42]:
cur.fetchall()

[('Black Dog', 'Rock'),
 ('Stairway', 'Rock'),
 ('About to Rock', 'Metal'),
 ('Who Made Who', 'Metal')]

In [37]:
cur.execute('''
    SELECT Track.title, Artist.name, Album.title, Genre.name
    FROM Track
    JOIN Genre join Album join Artist on
    Track.genre_id = Genre.id and Track.album_id = Album.id and Album.artist_id = Artist.id
''')

In [38]:
cur.fetchall()

[('About to Rock', 'Led Zepplin', 'ABC', 'Metal'),
 ('Who Made Who', 'Led Zepplin', 'ABC', 'Metal')]

In [39]:
cur.execute('''
    SELECT Track.title, Artist.name, Album.title, Genre.name
    FROM Track
    JOIN Artist join Album join Genre on
    Track.album_id = Album.id and Track.genre_id = Genre.id and Album.artist_id = Artist.id
''')

In [40]:
cur.fetchall()

[('About to Rock', 'Led Zepplin', 'ABC', 'Metal'),
 ('Who Made Who', 'Led Zepplin', 'ABC', 'Metal')]

In [46]:
cur.execute('''
    SELECT Track.title, Album.title
    FROM Track
    JOIN Album on
    Track.album_id = Album.id
''')
cur.fetchall()

[('About to Rock', 'ABC'), ('Who Made Who', 'ABC')]

In [47]:
cur.execute('''
    SELECT *
    FROM Track
    JOIN Album on
    Track.album_id = Album.id
''')
cur.fetchall()

[(1, 'Black Dog', 297, 5, 0, 2, 1),
 (2, 'Stairway', 482, 5, 0, 2, 1),
 (3, 'About to Rock', 313, 5, 0, 1, 2),
 (4, 'Who Made Who', 207, 5, 0, 1, 2)]