In [2]:
import re

In [3]:
p = re.compile("[a-z]+")

In [4]:
m = p.search("5 python")

In [7]:
m.start() + m.end()

10

In [22]:
data = """
park 010-9999-9988
kim 010-9909-7789
lee 010-8789-7768
"""

In [24]:
pat = re.compile("(\d{3})[-](\d{4})[-](\d{4})")

In [26]:
print(pat.sub("\g<1> - \g<2> - ****",data))

park 010 - 9999 - ****
kim 010 - 9909 - ****
lee 010 - 8789 - ****

메모장 코딩 할 것
# JSON

- 사람이 읽기 편한 web 
- 바이트 타입 데이터가 아닌 구조적엔 데이터를 네트워크 통신으로 전달하기 위해

장점

- 읽고 쓰기가 쉽다
-language independent
- text based interchange format
- Server 쪽에 client 정보를 심으면 안된다

Javascript  
var car = {"Make" : Volkswagen"};  
console.log(car.Make);  

car.Year = 2003;  
console.log(car);  
// Output: {"Make" : "Volkswagen",

- XML보다 JSON 훨씬 가볍고 구조는 다 포함하고 있다.
- Stringify하면 object가 아니라 string으로 바뀌어서 .이 안된다.

In [29]:
import json

In [32]:
name = ("kim","Lee","Park")
age = [30,28,31]
person = {"name":"kim","age":30,"car":False}

In [33]:
nameStr = json.dumps(name)

In [34]:
ageStr = json.dumps(age)
personStr = json.dumps(person,indent = "   ") 
# indent 웬만하면 쓰지마라(data크기 증가함)

In [35]:
ageStr

'[30, 28, 31]'

In [55]:
personStr = '{\n   "name": "kim",\n   "age": 30,\n   "car": false\n}'

In [37]:
print(personStr)

{
   "name": "kim",
   "age": 30,
   "car": false
}

In [38]:
kname = ("김","이","박")

In [46]:
knameStr = json.dumps(kname)

In [47]:
print(knameStr)

["\uae40", "\uc774", "\ubc15"]

In [48]:
knameStr

'["\\uae40", "\\uc774", "\\ubc15"]'

In [42]:
knameStr = json.dumps(kname,ensure_ascii=False)

In [44]:
# dump는 파일에 저장돼 있는 것
# dumps는 메모리에 저장돼 있는 것

In [56]:
personObj = json.loads(personStr)

In [57]:
personObj

{'name': 'kim', 'age': 30, 'car': False}

In [59]:
type(personObj)

dict

In [60]:
person == personObj

True

In [61]:
person["car"] = ["레이","모닝"]

In [62]:
person

{'name': 'kim', 'age': 30, 'car': ['레이', '모닝']}

In [63]:
with open('person.json','w') as f:
    json.dump(person,f)

In [64]:
with open('person.json','r') as f:
    personObj = json.load(f)

In [65]:
personObj

{'name': 'kim', 'age': 30, 'car': ['레이', '모닝']}

In [66]:
person

{'name': 'kim', 'age': 30, 'car': ['레이', '모닝']}

In [67]:
import urllib.request

In [68]:
url = "http://ip.jsontest.com"

In [69]:
obj = {"name":"김이박","age":30}

In [70]:
objStr = json.dumps(obj)

In [71]:
objStr

'{"name": "\\uae40\\uc774\\ubc15", "age": 30}'

In [73]:
objByte = objStr.encode("utf-8")

In [76]:
objByte # 사이트가 안뻗었을 때 해보기

b'{"name": "\\uae40\\uc774\\ubc15", "age": 30}'

In [474]:
req = urllib.request.Request(url,data=objByte,
                             headers={'content-type':'application/json'})
res = urllib.request.urlopen(req)

In [739]:
import urllib
url = "http://openapi.airkorea.or.kr/openapi/services/rest/ArpltnInforInqireSvc/getCtprvnMesureSidoLIst"

params = {
    "ServiceKey" : '%2BWJxaSeTX%2B6T8HKBqdWlnFfsS3ySR5r5fpnZyYPFLNxh2k4L7jldR7d4PevkAcQ5BAVyFmQkEietj6Xz7gxDCw%3D%3D',
    "numOfRows": 10,
    "pageNo" : 1,
    "sidoName" : "서울",
    "searchCondition" : "DAILY"
#    "stationName" : '성북구',
#    "dataTerm" : 'DAILY',
#    "ver" : 1.3,
    #"_returnType" : "JSON"
}

params["ServiceKey"] = urllib.parse.unquote(params["ServiceKey"])

In [740]:
params = urllib.parse.urlencode(params)

In [741]:
type(params)

str

In [742]:
params = params.encode("utf-8")

In [743]:
type(params)

bytes

In [744]:
req = urllib.request.Request(url,data=params)

In [745]:
res = urllib.request.urlopen(req)

In [746]:
resStr = res.read()

In [733]:
resStr = resStr.decode("utf-8")

In [747]:
resStr

b'<?xml version="1.0" encoding="UTF-8"?>\r\n\r\n\r\n\r\n\r\n<response>\r\n\t<header>\r\n\t\t<resultCode>00</resultCode>\r\n\t\t<resultMsg>NORMAL SERVICE.</resultMsg>\r\n\t</header>\r\n\t<body>\r\n\t\t<items>\r\n\t\t\t\r\n\t\t\t\t<item>\r\n\t\t\t\t    <dataTime>2019-07-10 16:00</dataTime>\r\n\t\t\t\t    <cityName>\xea\xb0\x95\xeb\x82\xa8\xea\xb5\xac</cityName>\r\n\t\t\t\t    <so2Value>0.005</so2Value>\r\n\t\t\t\t    <coValue>0.2</coValue>\r\n\t\t\t\t    <o3Value>0.024</o3Value>\r\n\t\t\t\t    <no2Value>0.013</no2Value>\r\n\t\t\t\t    <pm10Value>14</pm10Value>\r\n\t\t\t\t    <pm25Value>7</pm25Value>\r\n\t\t\t\t</item>\r\n\t\t\t\r\n\t\t\t\t<item>\r\n\t\t\t\t    <dataTime>2019-07-10 16:00</dataTime>\r\n\t\t\t\t    <cityName>\xea\xb0\x95\xeb\x8f\x99\xea\xb5\xac</cityName>\r\n\t\t\t\t    <so2Value>0.003</so2Value>\r\n\t\t\t\t    <coValue>0.2</coValue>\r\n\t\t\t\t    <o3Value>0.029</o3Value>\r\n\t\t\t\t    <no2Value>0.009</no2Value>\r\n\t\t\t\t    <pm10Value>15</pm10Value>\r\n\t\t\t\t    <pm25Value>8</pm25Value>\r\n\t\t\t\t</item>\r\n\t\t\t\r\n\t\t\t\t<item>\r\n\t\t\t\t    <dataTime>2019-07-10 16:00</dataTime>\r\n\t\t\t\t    <cityName>\xea\xb0\x95\xeb\xb6\x81\xea\xb5\xac</cityName>\r\n\t\t\t\t    <so2Value>-</so2Value>\r\n\t\t\t\t    <coValue>0.2</coValue>\r\n\t\t\t\t    <o3Value>0.032</o3Value>\r\n\t\t\t\t    <no2Value>0.008</no2Value>\r\n\t\t\t\t    <pm10Value>13</pm10Value>\r\n\t\t\t\t    <pm25Value>6</pm25Value>\r\n\t\t\t\t</item>\r\n\t\t\t\r\n\t\t\t\t<item>\r\n\t\t\t\t    <dataTime>2019-07-10 16:00</dataTime>\r\n\t\t\t\t    <cityName>\xea\xb0\x95\xec\x84\x9c\xea\xb5\xac</cityName>\r\n\t\t\t\t    <so2Value>0.004</so2Value>\r\n\t\t\t\t    <coValue>0.3</coValue>\r\n\t\t\t\t    <o3Value>0.032</o3Value>\r\n\t\t\t\t    <no2Value>0.016</no2Value>\r\n\t\t\t\t    <pm10Value>12</pm10Value>\r\n\t\t\t\t    <pm25Value>7</pm25Value>\r\n\t\t\t\t</item>\r\n\t\t\t\r\n\t\t\t\t<item>\r\n\t\t\t\t    <dataTime>2019-07-10 16:00</dataTime>\r\n\t\t\t\t    <cityName>\xea\xb4\x80\xec\x95\x85\xea\xb5\xac</cityName>\r\n\t\t\t\t    <so2Value>0.003</so2Value>\r\n\t\t\t\t    <coValue>0.1</coValue>\r\n\t\t\t\t    <o3Value>0.035</o3Value>\r\n\t\t\t\t    <no2Value>0.013</no2Value>\r\n\t\t\t\t    <pm10Value>16</pm10Value>\r\n\t\t\t\t    <pm25Value>4</pm25Value>\r\n\t\t\t\t</item>\r\n\t\t\t\r\n\t\t\t\t<item>\r\n\t\t\t\t    <dataTime>2019-07-10 16:00</dataTime>\r\n\t\t\t\t    <cityName>\xea\xb4\x91\xec\xa7\x84\xea\xb5\xac</cityName>\r\n\t\t\t\t    <so2Value>0.003</so2Value>\r\n\t\t\t\t    <coValue>0.4</coValue>\r\n\t\t\t\t    <o3Value>0.026</o3Value>\r\n\t\t\t\t    <no2Value>0.012</no2Value>\r\n\t\t\t\t    <pm10Value>9</pm10Value>\r\n\t\t\t\t    <pm25Value>-</pm25Value>\r\n\t\t\t\t</item>\r\n\t\t\t\r\n\t\t\t\t<item>\r\n\t\t\t\t    <dataTime>2019-07-10 16:00</dataTime>\r\n\t\t\t\t    <cityName>\xea\xb5\xac\xeb\xa1\x9c\xea\xb5\xac</cityName>\r\n\t\t\t\t    <so2Value>0.004</so2Value>\r\n\t\t\t\t    <coValue>-</coValue>\r\n\t\t\t\t    <o3Value>0.035</o3Value>\r\n\t\t\t\t    <no2Value>0.011</no2Value>\r\n\t\t\t\t    <pm10Value>15</pm10Value>\r\n\t\t\t\t    <pm25Value>6</pm25Value>\r\n\t\t\t\t</item>\r\n\t\t\t\r\n\t\t\t\t<item>\r\n\t\t\t\t    <dataTime>2019-07-10 16:00</dataTime>\r\n\t\t\t\t    <cityName>\xea\xb8\x88\xec\xb2\x9c\xea\xb5\xac</cityName>\r\n\t\t\t\t    <so2Value>0.003</so2Value>\r\n\t\t\t\t    <coValue>0.2</coValue>\r\n\t\t\t\t    <o3Value>0.028</o3Value>\r\n\t\t\t\t    <no2Value>0.013</no2Value>\r\n\t\t\t\t    <pm10Value>17</pm10Value>\r\n\t\t\t\t    <pm25Value>7</pm25Value>\r\n\t\t\t\t</item>\r\n\t\t\t\r\n\t\t\t\t<item>\r\n\t\t\t\t    <dataTime>2019-07-10 16:00</dataTime>\r\n\t\t\t\t    <cityName>\xeb\x85\xb8\xec\x9b\x90\xea\xb5\xac</cityName>\r\n\t\t\t\t    <so2Value>-</so2Value>\r\n\t\t\t\t    <coValue>0.2</coValue>\r\n\t\t\t\t    <o3Value>0.028</o3Value>\r\n\t\t\t\t    <no2Value>0.009</no2Value>\r\n\t\t\t\t    <pm10Value>11</pm10Value>\r\n\t\t\t\t    <pm25Value>7</pm25Value>\r\n\t\t\t\t</item>\r\n\t\t\t\r\n\t\t\t\t<item>\r\n\t\t\t\t    <dataTime>2019-07-10 16:00</dataTime>\r\n\t\t\t\t    <cityName>\xeb\x8f\x84\xeb\xb4\x89\xea\xb5\xac</cityName>\r\n\t\t\t\t    <so2Value>0.003</so2Value>\r\n\t\t\t\t    <coValue>0.3</coValue>\r\n\t\t\t\t    <o3Value>0.035</o3Value>\r\n\t\t\t\t    <no2Value>0.005</no2Value>\r\n\t\t\t\t    <pm10Value>11</pm10Value>\r\n\t\t\t\t    <pm25Value>4</pm25Value>\r\n\t\t\t\t</item>\r\n\t\t\t\r\n\t\t</items>\r\n\t\t<numOfRows>10</numOfRows>\r\n        <pageNo>1</pageNo>\r\n        <totalCount>625</totalCount>\r\n\t</body>\r\n</response>\r\n'

In [469]:
reqObj = json.loads(resStr)

In [470]:
resJSON = json.dumps(reqObj,ensure_ascii=False,indent = "  ")

In [471]:
print(resJSON)

{
  "list": [
    {
      "_returnType": "json",
      "cityName": "강남구",
      "cityNameEng": "Gangnam-gu",
      "coValue": "0.3",
      "dataGubun": "",
      "dataTime": "2019-07-10 14:00",
      "districtCode": "02",
      "districtNumSeq": "001",
      "itemCode": "",
      "khaiValue": "",
      "no2Value": "0.011",
      "numOfRows": "10",
      "o3Value": "0.028",
      "pageNo": "1",
      "pm10Value": "14",
      "pm25Value": "7",
      "resultCode": "",
      "resultMsg": "",
      "searchCondition": "",
      "serviceKey": "",
      "sidoName": "서울",
      "so2Value": "0.004",
      "totalCount": ""
    },
    {
      "_returnType": "json",
      "cityName": "강동구",
      "cityNameEng": "Gangdong-gu",
      "coValue": "0.3",
      "dataGubun": "",
      "dataTime": "2019-07-10 14:00",
      "districtCode": "02",
      "districtNumSeq": "002",
      "itemCode": "",
      "khaiValue": "",
      "no2Value": "0.009",
      "numOfRows": "10",
      "o3Value": "0.031",
      "pageNo": "1",
      "pm10Value": "14",
      "pm25Value": "9",
      "resultCode": "",
      "resultMsg": "",
      "searchCondition": "",
      "serviceKey": "",
      "sidoName": "서울",
      "so2Value": "0.003",
      "totalCount": ""
    },
    {
      "_returnType": "json",
      "cityName": "강북구",
      "cityNameEng": "Gangbuk-gu",
      "coValue": "0.2",
      "dataGubun": "",
      "dataTime": "2019-07-10 14:00",
      "districtCode": "02",
      "districtNumSeq": "003",
      "itemCode": "",
      "khaiValue": "",
      "no2Value": "0.009",
      "numOfRows": "10",
      "o3Value": "0.034",
      "pageNo": "1",
      "pm10Value": "14",
      "pm25Value": "7",
      "resultCode": "",
      "resultMsg": "",
      "searchCondition": "",
      "serviceKey": "",
      "sidoName": "서울",
      "so2Value": "",
      "totalCount": ""
    },
    {
      "_returnType": "json",
      "cityName": "강서구",
      "cityNameEng": "Gangseo-gu",
      "coValue": "0.3",
      "dataGubun": "",
      "dataTime": "2019-07-10 14:00",
      "districtCode": "02",
      "districtNumSeq": "004",
      "itemCode": "",
      "khaiValue": "",
      "no2Value": "0.013",
      "numOfRows": "10",
      "o3Value": "0.039",
      "pageNo": "1",
      "pm10Value": "11",
      "pm25Value": "7",
      "resultCode": "",
      "resultMsg": "",
      "searchCondition": "",
      "serviceKey": "",
      "sidoName": "서울",
      "so2Value": "0.005",
      "totalCount": ""
    },
    {
      "_returnType": "json",
      "cityName": "관악구",
      "cityNameEng": "Gwanak-gu",
      "coValue": "0.1",
      "dataGubun": "",
      "dataTime": "2019-07-10 14:00",
      "districtCode": "02",
      "districtNumSeq": "005",
      "itemCode": "",
      "khaiValue": "",
      "no2Value": "0.013",
      "numOfRows": "10",
      "o3Value": "0.041",
      "pageNo": "1",
      "pm10Value": "17",
      "pm25Value": "4",
      "resultCode": "",
      "resultMsg": "",
      "searchCondition": "",
      "serviceKey": "",
      "sidoName": "서울",
      "so2Value": "0.003",
      "totalCount": ""
    },
    {
      "_returnType": "json",
      "cityName": "광진구",
      "cityNameEng": "Gwangjin-gu",
      "coValue": "0.4",
      "dataGubun": "",
      "dataTime": "2019-07-10 14:00",
      "districtCode": "02",
      "districtNumSeq": "006",
      "itemCode": "",
      "khaiValue": "",
      "no2Value": "0.011",
      "numOfRows": "10",
      "o3Value": "0.030",
      "pageNo": "1",
      "pm10Value": "12",
      "pm25Value": "4",
      "resultCode": "",
      "resultMsg": "",
      "searchCondition": "",
      "serviceKey": "",
      "sidoName": "서울",
      "so2Value": "0.003",
      "totalCount": ""
    },
    {
      "_returnType": "json",
      "cityName": "구로구",
      "cityNameEng": "Guro-gu",
      "coValue": "",
      "dataGubun": "",
      "dataTime": "2019-07-10 14:00",
      "districtCode": "02",
      "districtNumSeq": "007",
      "itemCode": "",
      "khaiValue": "",
      "no2Value": "0.011",
      "numOfRows": "10",
      "o3Value": "0.040",
      "pageNo": "1",
      "pm10Value": "12",
      "pm25Value": "6",
      "resultCode": "",
      "resultMsg": "",
      "searchCondition": "",
      "serviceKey": "",
      "sidoName": "서울",
      "so2Value": "0.003",
      "totalCount": ""
    },
    {
      "_returnType": "json",
      "cityName": "금천구",
      "cityNameEng": "Geumcheon-gu",
      "coValue": "0.3",
      "dataGubun": "",
      "dataTime": "2019-07-10 14:00",
      "districtCode": "02",
      "districtNumSeq": "008",
      "itemCode": "",
      "khaiValue": "",
      "no2Value": "0.013",
      "numOfRows": "10",
      "o3Value": "0.032",
      "pageNo": "1",
      "pm10Value": "13",
      "pm25Value": "7",
      "resultCode": "",
      "resultMsg": "",
      "searchCondition": "",
      "serviceKey": "",
      "sidoName": "서울",
      "so2Value": "0.003",
      "totalCount": ""
    },
    {
      "_returnType": "json",
      "cityName": "노원구",
      "cityNameEng": "Nowon-gu",
      "coValue": "0.2",
      "dataGubun": "",
      "dataTime": "2019-07-10 14:00",
      "districtCode": "02",
      "districtNumSeq": "009",
      "itemCode": "",
      "khaiValue": "",
      "no2Value": "0.006",
      "numOfRows": "10",
      "o3Value": "0.032",
      "pageNo": "1",
      "pm10Value": "12",
      "pm25Value": "7",
      "resultCode": "",
      "resultMsg": "",
      "searchCondition": "",
      "serviceKey": "",
      "sidoName": "서울",
      "so2Value": "",
      "totalCount": ""
    },
    {
      "_returnType": "json",
      "cityName": "도봉구",
      "cityNameEng": "Dobong-gu",
      "coValue": "0.3",
      "dataGubun": "",
      "dataTime": "2019-07-10 14:00",
      "districtCode": "02",
      "districtNumSeq": "010",
      "itemCode": "",
      "khaiValue": "",
      "no2Value": "0.004",
      "numOfRows": "10",
      "o3Value": "0.038",
      "pageNo": "1",
      "pm10Value": "14",
      "pm25Value": "3",
      "resultCode": "",
      "resultMsg": "",
      "searchCondition": "",
      "serviceKey": "",
      "sidoName": "서울",
      "so2Value": "",
      "totalCount": ""
    }
  ],
  "parm": {
    "_returnType": "json",
    "cityName": "",
    "cityNameEng": "",
    "coValue": "",
    "dataGubun": "",
    "dataTime": "",
    "districtCode": "",
    "districtNumSeq": "",
    "itemCode": "",
    "khaiValue": "",
    "no2Value": "",
    "numOfRows": "10",
    "o3Value": "",
    "pageNo": "1",
    "pm10Value": "",
    "pm25Value": "",
    "resultCode": "",
    "resultMsg": "",
    "searchCondition": "DAILY",
    "serviceKey": "+WJxaSeTX+6T8HKBqdWlnFfsS3ySR5r5fpnZyYPFLNxh2k4L7jldR7d4PevkAcQ5BAVyFmQkEietj6Xz7gxDCw==",
    "sidoName": "서울",
    "so2Value": "",
    "totalCount": ""
  },
  "CtprvnMesureLIstVo2": {
    "_returnType": "json",
    "cityName": "",
    "cityNameEng": "",
    "coValue": "",
    "dataGubun": "",
    "dataTime": "",
    "districtCode": "",
    "districtNumSeq": "",
    "itemCode": "",
    "khaiValue": "",
    "no2Value": "",
    "numOfRows": "10",
    "o3Value": "",
    "pageNo": "1",
    "pm10Value": "",
    "pm25Value": "",
    "resultCode": "",
    "resultMsg": "",
    "searchCondition": "DAILY",
    "serviceKey": "+WJxaSeTX+6T8HKBqdWlnFfsS3ySR5r5fpnZyYPFLNxh2k4L7jldR7d4PevkAcQ5BAVyFmQkEietj6Xz7gxDCw==",
    "sidoName": "서울",
    "so2Value": "",
    "totalCount": ""
  },
  "totalCount": 625
}

In [400]:
type(resJSON)

str

In [473]:
[{row['cityName']:row['pm25Value']}for row in reqObj["list"]]

[{'강남구': '7'},
 {'강동구': '9'},
 {'강북구': '7'},
 {'강서구': '7'},
 {'관악구': '4'},
 {'광진구': '4'},
 {'구로구': '6'},
 {'금천구': '7'},
 {'노원구': '7'},
 {'도봉구': '3'}]

# XML

HTML보다 엄격해서 오류가 날 확률이 없다.  
규약을 지키면 well-formed  
XML이 왜생겼는지? 사람과 machine이 읽기 쉬운  
- 데이터를 전달하기 위한 도구  : 계층형 도구 > 사람이 해석가능  
- 태그가 무한히 확장가능


HTML은 비교하면 알아듣기 힘듦  
- 화면에 어떻게 이쁘게 보여질까를 위해 만들어짐.  
- Tag가 고정되어 있음.
- Validation 없음

JSON은 빠르고, 가볍다, 변수가 적다.  
XML은 명세를 명확하게 만들거나, 설명을 할때, 데이터를 설명할때 좋은 경우 있다.

In [642]:
import xml.etree.ElementTree as et

In [643]:
from lxml import etree

In [644]:
bookstore = et.Element("bookstore")
book1 = et.Element("book",category = "cooking")
bookstore.insert(0,book1)

In [645]:
title1 = et.Element('title')
title1.attrib["lang"] = "en"
title1.text = "Everyday Italian"

book1.append(title1)

In [646]:
et.SubElement(book1,"author").text = 'Giada De Laurentiis'
et.SubElement(book1,"year").text = '2005'
et.SubElement(book1,"price").text = '30.00'

In [647]:
book2 = et.Element("book",category = "children")
bookstore.append(book2)

In [648]:
title2 = et.Element('title')
title2.attrib["lang"] = title1.get("lang")
title2.text = "Harry Potter"

In [649]:
book2.append(title2)

In [650]:
et.SubElement(book2,"author").text = 'Giada De Laurentiis'
et.SubElement(book2,"year").text = '2005'
et.SubElement(book2,"price").text = '30.00'

In [656]:
a = et.dump(bookstore) # debugging용도로만 사용

<bookstore><book category="cooking"><title lang="en">Everyday Italian</title><author>Giada De Laurentiis</author><year>2005</year><price>30.00</price></book><book category="children"><title lang="en">Harry Potter</title><author>Giada De Laurentiis</author><year>2005</year><price>30.00</price></book></bookstore>

In [617]:
a

In [653]:
a=et.parse('JSON.txt')
print([b] for b in a)

TypeError: 'ElementTree' object is not iterable

In [585]:
root = et.XML(et.tostring(bookstore))

In [586]:
print(len(root))

2

In [587]:
for childNode in root :
    print(childNode.tag,childNode.attrib)

book {'category': 'cooking'}
book {'category': 'children'}

In [588]:
root.clear()

In [589]:
root = et.fromstring(et.tostring(bookstore))

In [590]:
childNodes = root.getchildren()

C:\Users\SeoDongUk\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: This method will be removed in future versions.  Use 'list(elem)' or iteration over elem instead.
  """Entry point for launching an IPython kernel.

In [591]:
print(len(childNodes))

2

In [592]:
for childNode in childNodes:
    print(childNode.tag,childNode.items())

book [('category', 'cooking')]
book [('category', 'children')]

In [593]:
for childNode in childNodes[0]:
    print(childNode.tag,childNode.keys())
    if childNode.keys() != []:
        print([childNode.get(k) for k in childNode.keys()])

title ['lang']
['en']
author []
year []
price []

In [598]:
book = root.find('book')
print(book.tag,book.get("category"))

book cooking

In [601]:
bookList = root.findall('book')
for book in bookList:
    print(book.tag,book.get("category"))

book cooking
book children

In [603]:
title = root.find(".//title")
print(type(title),title.text)

<class 'xml.etree.ElementTree.Element'> Everyday Italian

In [604]:
titleList = root.findall(".//title")
print([title.text for title in titleList])

['Everyday Italian', 'Harry Potter']

In [606]:
title = root.findtext(".//title")
print(type(title),title)

<class 'str'> Everyday Italian

In [607]:
book = root.find(".//book[@category='children']")
print(book,book.tag)

<Element 'book' at 0x0000022FD64C6D18> book

In [634]:
from xml.etree.ElementTree import ElementTree

In [636]:
tree = ElementTree(root)
tree.write("book_xml.xml",encoding="utf-8",xml_declaration="utf-8")

In [637]:
from xml.etree.ElementTree import parse

In [639]:
tree = parse("book_xml.xml")
root = tree.getroot()

In [641]:
for node in root.iter():
    print(node.tag,node.text)

bookstore None
book None
title Everyday Italian
author Giada De Laurentiis
year 2005
price 30.00
book None
title Harry Potter
author Giada De Laurentiis
year 2005
price 30.00

In [654]:
tree = ElementTree(file="book_xml.xml")
root = tree.getroot()

for node in root.iter():
    print(node.tag,node.text)

bookstore None
book None
title Everyday Italian
author Giada De Laurentiis
year 2005
price 30.00
book None
title Harry Potter
author Giada De Laurentiis
year 2005
price 30.00

In [660]:
bookStore = etree.Element("bookstore")

In [661]:
book1 = etree.SubElement(bookStore,"book")
book2 = etree.SubElement(bookStore,"book",attrib={"category":"children"})

In [662]:
book1.attrib["category"] = "cooking"

In [663]:
title1 = etree.Element("title",lang = "en")
title1.text = "Everydat Italian"
book1.append(title1)

In [664]:
etree.SubElement(book1,"author").text = "Giada De Laurentiis"
etree.SubElement(book1,"year").text = "2005"
etree.SubElement(book1,"price").text = "30.00"

In [665]:
title2 = etree.Element("title")
title2.set("lang",title1.get("lang"))
title2.text = "Harry Potter"
book2.append(title2)

In [666]:
etree.SubElement(book2,"author").text = "Giada De Laurentiis"
etree.SubElement(book2,"year").text = "2005"
book2.insert(3,etree.Element("price"))

In [667]:
print(len(book2))

4

In [675]:
book2[-1].text = "30.00"

In [679]:
xmlBytes = etree.tostring(bookStore,encoding="utf-8",pretty_print=True,xml_declaration=True)

In [680]:
xmlStr = etree.tounicode(bookStore,pretty_print=True)

In [681]:
print(type(xmlBytes),type(xmlStr))

<class 'bytes'> <class 'str'>

In [682]:
etree.dump(bookStore)

<bookstore>
  <book category="cooking">
    <title lang="en">Everydat Italian</title>
    <author>Giada De Laurentiis</author>
    <year>2005</year>
    <price>30.00</price>
  </book>
  <book category="children">
    <title lang="en">Harry Potter</title>
    <author>Giada De Laurentiis</author>
    <year>2005</year>
    <price>30.00</price>
  </book>
</bookstore>

In [685]:
xml = etree.XML(etree.tostring(bookStore))
xmlTree = etree.ElementTree(xml)
xmlRoot = xmlTree.getroot()

print(xmlTree.docinfo.xml_version)
print(xmlTree.docinfo.encoding)
print(xmlTree.docinfo.doctype)
print(xmlTree.docinfo.root_name)

print(len(xmlRoot))
for childNode in xmlRoot:
    print(childNode.tag,childNode.attrib)

1.0
UTF-8

bookstore
2
book {'category': 'cooking'}
book {'category': 'children'}

In [686]:
etree.tostring(bookStore)

b'<bookstore><book category="cooking"><title lang="en">Everydat Italian</title><author>Giada De Laurentiis</author><year>2005</year><price>30.00</price></book><book category="children"><title lang="en">Harry Potter</title><author>Giada De Laurentiis</author><year>2005</year><price>30.00</price></book></bookstore>'

In [687]:
xml = etree.fromstring(etree.tostring(bookStore))
xmlTree = etree.ElementTree(xml)
xmlRoot = xmlTree.getroot()

In [688]:
xmlRoot

In [689]:
childNodes = xmlRoot.getchildren()

In [690]:
print(len(childNodes))
for childNode in childNodes:
    print(childNode.tag,childNode.items())

2
book [('category', 'cooking')]
book [('category', 'children')]

In [696]:
for childNode in childNodes[0]:
    print(childNode.tag,childNode.keys())
    if childNode.keys() != []:
        print([childNode.get(k) for k in childNode.keys()])

title ['lang']
['en']
author []
year []
price []

In [699]:
book = xmlRoot.find("book")
print(book.tag,book.get("category"))

book cooking

In [700]:
bookList = xmlRoot.findall("book")
for book in bookList:
    print(book.tag,book.get("category"))

book cooking
book children

In [702]:
title = xmlRoot.findall(".//title")
print([title.text for title in titleList])

['Everyday Italian', 'Harry Potter']

In [703]:
title = xmlRoot.find(".//title")
print(type(title),title.text)

<class 'lxml.etree._Element'> Everydat Italian

In [705]:
book = xmlRoot.find(".//book[@category='children']")
print(book,book.tag)

<Element book at 0x22fd7513c08> book

In [706]:
for childNode in xmlRoot.iter():
    print(childNode.tag,childNode.text)

bookstore None
book None
title Everydat Italian
author Giada De Laurentiis
year 2005
price 30.00
book None
title Harry Potter
author Giada De Laurentiis
year 2005
price 30.00

In [710]:
for childNode in xmlRoot.iter("year"):
    print(childNode.tag,childNode.text)

year 2005
year 2005

In [748]:
xmlObj = etree.fromstring(resStr)

In [749]:
xmlRoot = etree.ElementTree(xmlObj).getroot()

In [752]:
etree.dump(xmlRoot)

<response>
	<header>
		<resultCode>00</resultCode>
		<resultMsg>NORMAL SERVICE.</resultMsg>
	</header>
	<body>
		<items>

				<item>
				    <dataTime>2019-07-10 16:00</dataTime>
				    <cityName>강남구</cityName>
				    <so2Value>0.005</so2Value>
				    <coValue>0.2</coValue>
				    <o3Value>0.024</o3Value>
				    <no2Value>0.013</no2Value>
				    <pm10Value>14</pm10Value>
				    <pm25Value>7</pm25Value>
				</item>

				<item>
				    <dataTime>2019-07-10 16:00</dataTime>
				    <cityName>강동구</cityName>
				    <so2Value>0.003</so2Value>
				    <coValue>0.2</coValue>
				    <o3Value>0.029</o3Value>
				    <no2Value>0.009</no2Value>
				    <pm10Value>15</pm10Value>
				    <pm25Value>8</pm25Value>
				</item>

				<item>
				    <dataTime>2019-07-10 16:00</dataTime>
				    <cityName>강북구</cityName>
				    <so2Value>-</so2Value>
				    <coValue>0.2</coValue>
				    <o3Value>0.032</o3Value>
				    <no2Value>0.008</no2Value>
				    <pm10Value>13</pm10Value>
				    <pm25Value>6</pm25Value>
				</item>

				<item>
				    <dataTime>2019-07-10 16:00</dataTime>
				    <cityName>강서구</cityName>
				    <so2Value>0.004</so2Value>
				    <coValue>0.3</coValue>
				    <o3Value>0.032</o3Value>
				    <no2Value>0.016</no2Value>
				    <pm10Value>12</pm10Value>
				    <pm25Value>7</pm25Value>
				</item>

				<item>
				    <dataTime>2019-07-10 16:00</dataTime>
				    <cityName>관악구</cityName>
				    <so2Value>0.003</so2Value>
				    <coValue>0.1</coValue>
				    <o3Value>0.035</o3Value>
				    <no2Value>0.013</no2Value>
				    <pm10Value>16</pm10Value>
				    <pm25Value>4</pm25Value>
				</item>

				<item>
				    <dataTime>2019-07-10 16:00</dataTime>
				    <cityName>광진구</cityName>
				    <so2Value>0.003</so2Value>
				    <coValue>0.4</coValue>
				    <o3Value>0.026</o3Value>
				    <no2Value>0.012</no2Value>
				    <pm10Value>9</pm10Value>
				    <pm25Value>-</pm25Value>
				</item>

				<item>
				    <dataTime>2019-07-10 16:00</dataTime>
				    <cityName>구로구</cityName>
				    <so2Value>0.004</so2Value>
				    <coValue>-</coValue>
				    <o3Value>0.035</o3Value>
				    <no2Value>0.011</no2Value>
				    <pm10Value>15</pm10Value>
				    <pm25Value>6</pm25Value>
				</item>

				<item>
				    <dataTime>2019-07-10 16:00</dataTime>
				    <cityName>금천구</cityName>
				    <so2Value>0.003</so2Value>
				    <coValue>0.2</coValue>
				    <o3Value>0.028</o3Value>
				    <no2Value>0.013</no2Value>
				    <pm10Value>17</pm10Value>
				    <pm25Value>7</pm25Value>
				</item>

				<item>
				    <dataTime>2019-07-10 16:00</dataTime>
				    <cityName>노원구</cityName>
				    <so2Value>-</so2Value>
				    <coValue>0.2</coValue>
				    <o3Value>0.028</o3Value>
				    <no2Value>0.009</no2Value>
				    <pm10Value>11</pm10Value>
				    <pm25Value>7</pm25Value>
				</item>

				<item>
				    <dataTime>2019-07-10 16:00</dataTime>
				    <cityName>도봉구</cityName>
				    <so2Value>0.003</so2Value>
				    <coValue>0.3</coValue>
				    <o3Value>0.035</o3Value>
				    <no2Value>0.005</no2Value>
				    <pm10Value>11</pm10Value>
				    <pm25Value>4</pm25Value>
				</item>

		</items>
		<numOfRows>10</numOfRows>
        <pageNo>1</pageNo>
        <totalCount>625</totalCount>
	</body>
</response>

In [753]:
for node in xmlRoot.iter():
    print(node.tag,node.text)dd

response

header

resultCode 00
resultMsg NORMAL SERVICE.
body

items


item

dataTime 2019-07-10 16:00
cityName 강남구
so2Value 0.005
coValue 0.2
o3Value 0.024
no2Value 0.013
pm10Value 14
pm25Value 7
item

dataTime 2019-07-10 16:00
cityName 강동구
so2Value 0.003
coValue 0.2
o3Value 0.029
no2Value 0.009
pm10Value 15
pm25Value 8
item

dataTime 2019-07-10 16:00
cityName 강북구
so2Value -
coValue 0.2
o3Value 0.032
no2Value 0.008
pm10Value 13
pm25Value 6
item

dataTime 2019-07-10 16:00
cityName 강서구
so2Value 0.004
coValue 0.3
o3Value 0.032
no2Value 0.016
pm10Value 12
pm25Value 7
item

dataTime 2019-07-10 16:00
cityName 관악구
so2Value 0.003
coValue 0.1
o3Value 0.035
no2Value 0.013
pm10Value 16
pm25Value 4
item

dataTime 2019-07-10 16:00
cityName 광진구
so2Value 0.003
coValue 0.4
o3Value 0.026
no2Value 0.012
pm10Value 9
pm25Value -
item

dataTime 2019-07-10 16:00
cityName 구로구
so2Value 0.004
coValue -
o3Value 0.035
no2Value 0.011
pm10Value 15
pm25Value 6
item

dataTime 2019-07-10 16:00
cityName 금천구
so2Value 0.003
coValue 0.2
o3Value 0.028
no2Value 0.013
pm10Value 17
pm25Value 7
item

dataTime 2019-07-10 16:00
cityName 노원구
so2Value -
coValue 0.2
o3Value 0.028
no2Value 0.009
pm10Value 11
pm25Value 7
item

dataTime 2019-07-10 16:00
cityName 도봉구
so2Value 0.003
coValue 0.3
o3Value 0.035
no2Value 0.005
pm10Value 11
pm25Value 4
numOfRows 10
pageNo 1
totalCount 625

In [779]:
itemList = xmlRoot.findall(".//item")

In [780]:
print(len(itemList))

10

In [756]:
for item in itemList:
    for i in range(len(item)):
        print(item[i].tag,item[i].text)

dataTime 2019-07-10 16:00
cityName 강남구
so2Value 0.005
coValue 0.2
o3Value 0.024
no2Value 0.013
pm10Value 14
pm25Value 7
dataTime 2019-07-10 16:00
cityName 강동구
so2Value 0.003
coValue 0.2
o3Value 0.029
no2Value 0.009
pm10Value 15
pm25Value 8
dataTime 2019-07-10 16:00
cityName 강북구
so2Value -
coValue 0.2
o3Value 0.032
no2Value 0.008
pm10Value 13
pm25Value 6
dataTime 2019-07-10 16:00
cityName 강서구
so2Value 0.004
coValue 0.3
o3Value 0.032
no2Value 0.016
pm10Value 12
pm25Value 7
dataTime 2019-07-10 16:00
cityName 관악구
so2Value 0.003
coValue 0.1
o3Value 0.035
no2Value 0.013
pm10Value 16
pm25Value 4
dataTime 2019-07-10 16:00
cityName 광진구
so2Value 0.003
coValue 0.4
o3Value 0.026
no2Value 0.012
pm10Value 9
pm25Value -
dataTime 2019-07-10 16:00
cityName 구로구
so2Value 0.004
coValue -
o3Value 0.035
no2Value 0.011
pm10Value 15
pm25Value 6
dataTime 2019-07-10 16:00
cityName 금천구
so2Value 0.003
coValue 0.2
o3Value 0.028
no2Value 0.013
pm10Value 17
pm25Value 7
dataTime 2019-07-10 16:00
cityName 노원구
so2Value -
coValue 0.2
o3Value 0.028
no2Value 0.009
pm10Value 11
pm25Value 7
dataTime 2019-07-10 16:00
cityName 도봉구
so2Value 0.003
coValue 0.3
o3Value 0.035
no2Value 0.005
pm10Value 11
pm25Value 4

In [797]:
for item in itemList:
    pm25List = item.find("./pm25Value")
    cityList = item.find("./cityName")
    print(pm25List.tag,pm25List.text,cityList.tag,cityList.text)

pm25Value 7 cityName 강남구
pm25Value 8 cityName 강동구
pm25Value 6 cityName 강북구
pm25Value 7 cityName 강서구
pm25Value 4 cityName 관악구
pm25Value - cityName 광진구
pm25Value 6 cityName 구로구
pm25Value 7 cityName 금천구
pm25Value 7 cityName 노원구
pm25Value 4 cityName 도봉구