전에는 Spark가지고 했었는데 이제 안함  
고려대는 빅데이터를 머신러닝과 어떻게 활용할건지  

빅데이터 다루는 회사는 거의 없다. (분산처리, Hadoop)  
비정형 데이터는 다루기 어렵다

정규식 : semi-structure, 데이터 잘 정제하려고 이용  
파싱하는 것 해볼거임.  

비정형데이터 웹에서 어떻게 수집할 지

# DBMS

- Structed Data는 이미 잘하고 있음
- Unstructed Data > 인공지능
- Data vs information  
있는 것(Data)을 가지고 가치있는 것을 찾으면 그게 information
- Structed Database : 특정 column에서는 고정 된 것을 가진다.  
데이터 간의 관계를 표현

데이터베이스 조건  
- 통합 : 중복x 혹은 최소한의 중복만 가지도록
- 저장 : 컴퓨터 저장
- 공유 : 공동 소유
- 운영 : 존재 목적이나 기능수행에 꼭 필요한 데이터 집합

데이터베이스 특징
- 실시간 접근성
- 계속적인 변화
- 동시 공유 가능
- 내용에 의한 참조 가능 (사용자가 요구하는 내용/값에 따라 참조)  
서로 다른 무언가를 구별해주는 것이 있어야 한다.

Database가 하는 일들을 잘 할 수 있게 도와주는 것 : DBMS  
Duplicate data, Missng Data, Inaccurate data, Incorrect Data 있으면 안됨

- 관계 데이터 모델, 테이블 ( 아직 제일 많이 쓰임 )
- 객체 관계 모델, Object ( 안할거지만 ORM에서 잠깐 봄 )

### RDBMS

Row : Record, tuple  
Cardinality  
Primary Key / Unique identifier

- Relationship Model  
Entity : 직사각형 (Attribute)  
DB를 스키마에 맞춰서 할 것이라 필요

두개의 Entity 사이에는 Relationship이 있다.

- Mappling Cardinality

SELLS has attributes: part(PNO) and supplier (SNO), SELLS connects SUPPLIER and PART

- ER 모델
-

PK를 이름을 쓰지마라 hash화 불가능

SQL 명령
- 데이터 정의 언어
- 데이터 조작 언어
- 데이터 제어 언어

서버사용 ㄴㄴ SQL Liter쓸 것  
만약 회사에서 하면 update, del, drop 같은 명령어 사용불가  
update나 drop같은거 기존 데이터 날려야해서 너무 위험하다

- Statement

세미콜론 있어야함  
UPDATE country  
SET population = p/opulation +1   
WHERE name = 'USA'

LOB data는 무거워서 안쓰는게 낫다

왓다갔다(글자수가 바뀌는 것) 하는 것 VARCHAR

CHAR : 고정된 길이를 갖는 type  
Size 실제로 작으면 공백으로 패딩

Date / Time

CREATE TABLE [table name] ( [column definitions ) [table parameters]

CREATE TABLE employees (  
id INTERGER PRIMARY KEY,  
first name VARCHAR(50) not null,  
last_name VARCHAR(75) not null,  
fname VARCHAR(50) not null  
dateofbirt DATE not null  
);

Not null이 없으면 중간 중간 데이터 빠져도 된다.

- DROP objecttype objectname : 데이터베이스를 날려버리는 것, 쓰지마라 웬만하면

- DROP TABLE employees

- TRUNCATE : 싹다 인덱스까지 초기화
- delete는 index는 남아있음

ALTER objecttype objectname parameters

INSERT INTO phone_book (name, number) VALUES ('John Doe','555-1212')

In [ ]:
SELECT CustomerName, City From Customers;
SELECT * FROM Customers
# 테이블을 여러개 쓰면 좋지않다. 필요한 것만 가져와라

In [15]:
★★★ 기본식 ★★★
SELECT [ALL | DISTINCE] 컬럼명 [,컬럼명...]
FROM 테이블명 [,테이블명...]
[WHERE 조건식]
[GROUP BY 컬럼명 [ HAVING 조건식]] # 그룹으로 묶어서 보는 것
[ORDER BY 컬럼명] DESC 
GROUP BY 컬럼명 [,컬럼명...]
ORDER BY 컬럼명 [,컬럼명...]

SyntaxError: invalid character in identifier (<ipython-input-15-f72262704db9>, line 1)

연산자

In [16]:
= Equal
<> Not equal
LIKE 유사한 pattern
BETWEEN 특정 범위

SyntaxError: invalid syntax (<ipython-input-16-9d00f05aec61>, line 1)

DELTE

DELETE FROM mytable WHERE mycol > 100 AND item = 'Hammer'

'a%' : a로 시작
'%a' : a로 끝남
'%or%' : or가 들어있으면 됨
'_r%' : 한글자 아무거나 있고 r 뒤에 아무거나
'a%o' : a와 o사이에 아무거나

UPDATE : 데이터의 값을 바꾸는 것  
기존의 데이터를 잃어버릴 가능성이 큼

In [ ]:
DELETE FROM table_name
WHERE

In [ ]:
DELETE FROM Customers
WHERE CustomerName = 'Alfreds Futterkiste';

JOINS

In [ ]:
INNER JOIN
LEFT JOIN
RIGHT JOIN
FULL OUTER JOIN

In [ ]:
SELECT Order.OrderID, Customers.CustomerName, Orders.OrderDate
From Orders
Inner Join Customers On

In [ ]:
CREATE TABLE department
(
    DepartmentId INT Primary key,
    DepartmentName VARCHAR(20)
)

CREATE TABLE employee
(
    LastName VARCHAR(20),
    DepartmentID INT references department(DepartmentID)
);

INSERT INTO department VALUES(31,'Sales');
INSERT INTO department VALUES(31,'Sales');
...

In [18]:
SELECT * 
From employee CROSS JOIN department
각쌍을 다만들어냄 : 속도가 매우 느림 -> 비추천

SyntaxError: invalid syntax (<ipython-input-18-ac576b1759b0>, line 1)

In [19]:
SELECT employee.LastName, employee.DepartmentID, department.DepartmentName
From employee
INNER JOIN department ON
employee.DepartmentID = department.DepartmentID

SyntaxError: invalid syntax (<ipython-input-19-711629c63b04>, line 1)

In [20]:
LEFT OUTER JOIN
RIGHT OUTER JOIN

SyntaxError: invalid syntax (<ipython-input-20-8fb5b6821b7b>, line 1)

In [ ]:
SELECT * 
FROM employee RIGHT OUTER JOIN department
ON employee.DepartmentID = department.DepartmentID;

In [21]:
SELECT * FROM PART; : 절이 2개
SELECT * FROM SELLS WHERE PRICE > 11; : 절이 3개
SELECT SNO,PRICE FROM SELLS WHERE PRICE > 11;
SELECT PNO,PRICE FROM SELLS WHERE PNO = 1 AND PRICE <= 10;

SELECT * FROM SUPPLIER, PART; (CROSS JOIN - 4*4)
SELECT S.SNAME, C.CNAME FROM SUPPLIER AS S, CITY AS C WHERE S.CNO = C.CNO;
SELECT SNAME AS LondonSuppliers FROM SUPPLIER, CITY (CROSS JOIN - 4*4)
SELECT SNAME AS LondonSuppliers FROM SUPPLIER, CITY (CROSS JOIN - 4*4)
...

SyntaxError: invalid syntax (<ipython-input-21-26c8798ae253>, line 1)

# SQLite

In [22]:
오픈소스(개인)
서버없음
파일로 존재
설정 필요 x
RDBMS 지원
많이쓰이고 가벼움

SyntaxError: invalid syntax (<ipython-input-22-69c618b46bba>, line 3)

In [26]:
sql3.version

'2.6.0'

In [29]:
sql3.sqlite_version

'3.27.2'

In [33]:
conn = sql3.connect('sqlite3') # 내마음대로 이름. disk에저장

In [37]:
conn = sql3.connect(':memory:') # ram에 저장

In [36]:
cur = conn.cursor() # sql문을 통해서 주고받음

In [39]:
dir(cur) # execute  ~ fetchone
# fetchone 가져온 데이터를 파싱
# execute는 sql문을 실행하는 것
# connection은 쓰지 말기 (별로 안좋음) : database 접속
# cursor를 통해 sql문 주고받기 : database connection으로부터 생성된 instance

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'arraysize',
 'close',
 'connection',
 'description',
 'execute',
 'executemany',
 'executescript',
 'fetchall',
 'fetchmany',
 'fetchone',
 'lastrowid',
 'row_factory',
 'rowcount',
 'setinputsizes',
 'setoutputsize']

In [43]:
# executemany : sequential한 데이터를 같은 쿼리가지고 여러번 실행함.
# executescript : 한가지 제대로 하려고 할 때
# fetchall : 다가져옴
# fetchMany : 지정한 갯수만큼 가지고 온다.
# fetchone

In [45]:
cur.execute("select sqlite_version();") # 백단에서 돌아가는 것

In [46]:
cur.fetchall()

[('3.27.2',)]

In [49]:
sql3.complete_statement("select sqlite_version();") # sql문이 문법에 맞는지 체크해줌. 제대로 끝났는지
# 세미콜론이 반드시 있어야함 (없으면 false)
# sql문이 여러개가 있으면 계속넘어감
# 한문장일때는 에러안날지 몰라도 여러개면 에러 날 것이다.

True

In [84]:
cur.execute("create table people (name_last,age)")
who = "YLETsin"
age = 72

cur.execute("insert into people values (?,?)",(who,age)) # 컬럼명 어차피 2개여서 생략함.

# qmark는 복잡해지거나 변수 많아지면 나중에 힘들다.

OperationalError: table people already exists

In [85]:
cur.execute("select * from people where name_last = :who and age = :age",
           {"who":who,"age":age})

In [101]:
print(cur.fetchone())

None

In [95]:
data = {('A',1),('B',1),('C',1)}
cur.executemany("INSERT INTO people VALUES(?,?)",data)

In [98]:
datadict = [{'who':'E','age':1},{'who':'F','age':1}]

In [100]:
cur.executemany("INSERT INTO people VALUES(:who,:age)",datadict)

executescript

In [105]:
cur.executescript("""
 create table person(
 first_name text primary key,
 last_name text not null);
 
 insert into person values('name','kim'); 
""")

OperationalError: table person already exists

In [106]:
cur.execute('select * from person') # select는 별도로 써줘야한다.

In [110]:
print(cur.fetchall())

[]

In [112]:
cur.fetchone()

In [113]:
cur.fetchmany(size=3)

[]

In [120]:
conn.close()

In [119]:
conn

In [123]:
cur.close()

In [1]:
import sqlite3 as sql3

In [2]:
conn = sql3.connect('create.db')
print("Opened database successfully")
cur = conn.cursor()
cur.execute('''
    CREATE TABLE COMPANY(
    ID INT PRIMARY KEY NOT NULL,
    NAME TEXT NOT NULL,
    AGE INT NOT NULL,
    ADDRESS CHAR(50),
    SALARY REAL);
''')
print("Table created successfully")

Opened database successfully
Table created successfully

In [162]:
cur.execute('drop table COMPANY')

OperationalError: database is locked

In [ ]:
# 커서객체의 last low ID 쳐보기

In [3]:
cur.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
VALUES(1,'paul',32,'California',20000.00)");
cur.lastrowid, conn.total_changes

(1, 1)

In [4]:
cur.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
VALUES(:id,:name,:age,:address,:salary)",{'id':2,'name':'Allen','age':25,'address':'Texas','salary':15000.00});

In [8]:
data = [(3,'Teddy',23,'Norway',200000.00),
       (4,'Mark',25,'Rich-Mond',65000.00)]

In [9]:
cur.executemany("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY)\
VALUES(?,?,?,?,?)",data);

In [17]:
cur.executescript(""" 
INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY)
VALUES (9,'Mark1',25,'Rich-Mond',65000.00);

INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY)
VALUES (10,'Mark2',25,'Rich-Mond',65000.00);
""") # executescript는 commit을 자동으로 실행함

In [15]:
conn.commit() # transaction 하는 것 (database에 반영됨.) 오류나면 롤백을 위해서 commit이 필요함
print("RECORDS created successfully")

RECORDS created successfully

In [13]:
cur.lastrowid

2

In [14]:
data = [(7,'Teddy',23,'Norway',200000.00),
       (8,'Mark',25,'Rich-Mond',65000.00)]
cur.executemany("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY)\
VALUES(?,?,?,?,?)",data);

In [14]:
cursor = cur.execute("SELECT id,name,address,salary from COMPANY")
for row in cursor:
    print("ID = ",row[0])
    print("NAME = ",row[1])
    print("ADDRESS = ",row[2])
    print("SALARY = ",row[3])
    
    print(type(row[0]),type(row[1]),type(row[2]),type(row[3]),end='\n\n')
    
print("Operation done successfully")

ID =  1
NAME =  paul
ADDRESS =  California
SALARY =  20000.0
<class 'int'> <class 'str'> <class 'str'> <class 'float'>

ID =  2
NAME =  Allen
ADDRESS =  Texas
SALARY =  15000.0
<class 'int'> <class 'str'> <class 'str'> <class 'float'>

ID =  3
NAME =  Teddy
ADDRESS =  Norway
SALARY =  200000.0
<class 'int'> <class 'str'> <class 'str'> <class 'float'>

ID =  4
NAME =  Mark
ADDRESS =  Rich-Mond
SALARY =  65000.0
<class 'int'> <class 'str'> <class 'str'> <class 'float'>

Operation done successfully

In [21]:
cur.execute('select * from company')

In [22]:
for row in cur:
    print(row)

(1, 'paul', 32, 'California', 20000.0)
(2, 'Allen', 25, 'Texas', 15000.0)
(3, 'Teddy', 23, 'Norway', 200000.0)
(4, 'Mark', 25, 'Rich-Mond', 65000.0)
(5, 'Mark1', 25, 'Rich-Mond', 65000.0)
(6, 'Mark2', 25, 'Rich-Mond', 65000.0)
(7, 'Teddy', 23, 'Norway', 200000.0)
(8, 'Mark', 25, 'Rich-Mond', 65000.0)
(9, 'Mark1', 25, 'Rich-Mond', 65000.0)
(10, 'Mark2', 25, 'Rich-Mond', 65000.0)

UPDATE

In [24]:
cid = 1

In [25]:
cur.execute("UPDATE COMPANY set SALARY = 25000.00 where ID = :id",{'id':cid})

In [27]:
conn.commit() # 그래서 메모리에서 하는 것보다는 파일에서 하라

In [29]:
print("Total numer of rows updated : ",conn.total_changes)

Total numer of rows updated :  11