In [34]:
from sqlalchemy import create_engine

In [87]:
engine = create_engine("sqlite:///test2.db",echo=True)

In [36]:
print(engine)

Engine(sqlite:///test2.db)

In [88]:
from sqlalchemy import Table,Column,Integer,String,MetaData,ForeignKey

metadata = MetaData()
artist = Table('Artist',metadata,
             Column('id',Integer,primary_key=True),
             Column('name',String,nullable=False),
             extend_exisiting=True)

In [89]:
album = Table('Album',metadata,
             Column('id',Integer,primary_key=True),
             Column('title',String,nullable=False),
             Column('artist_id',Integer,ForeignKey("Artist.id")),
             extend_exisiting=True)

In [90]:
genre = Table('Genre',metadata,
             Column('id',Integer,primary_key=True),
             Column('name',String,nullable=False),
             extend_exisiting=True)

In [91]:
genre = Table('Genre',metadata,
             Column('id',Integer,primary_key=True),
             Column('name',String,nullable=False),
             extend_exisiting=True)

InvalidRequestError: Table 'Genre' is already defined for this MetaData instance.  Specify 'extend_existing=True' to redefine options and columns on an existing Table object.

In [41]:
track = Table('Track',metadata,
             Column('id',Integer,primary_key=True),
             Column('title',String,nullable=False),
              Column('length',Integer,nullable=False),
              Column('rating',Integer,nullable=False),
              Column('count',Integer,nullable=False),
              Column('album_id',Integer,ForeignKey("Album.id")),
              Column('genre_id',Integer,ForeignKey("Genre.id")),
             extend_exisiting=True)

In [42]:
metadata.create_all(engine)

2019-07-09 14:05:26,932 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-07-09 14:05:26,933 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:05:26,935 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-07-09 14:05:26,936 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:05:26,937 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Artist")
2019-07-09 14:05:26,939 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:05:26,942 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Album")
2019-07-09 14:05:26,943 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:05:26,945 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Genre")
2019-07-09 14:05:26,946 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:05:26,947 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Track")
2019-07-09 14:05:26,949 INFO sqlalchemy.engine.base.Engine ()

In [19]:
conn = engine.connect()

In [20]:
insert.bind = engine
str(insert)

'INSERT INTO "Artist" (id, name) VALUES (?, ?)'

In [21]:
result = conn.execute(artist.insert(),[
    {"name":"Led Zepplin"},
    {"name":"AC/DC"}
])

2019-07-09 13:44:23,780 INFO sqlalchemy.engine.base.Engine INSERT INTO "Artist" (name) VALUES (?)
2019-07-09 13:44:23,781 INFO sqlalchemy.engine.base.Engine (('Led Zepplin',), ('AC/DC',))
2019-07-09 13:44:23,784 INFO sqlalchemy.engine.base.Engine COMMIT

In [26]:
result = conn.execute(album.insert(),[
    {"title":"IV","artist_id":1},
    {"title":"Who Made Who","artist_id":2}
])

2019-07-09 13:47:02,506 INFO sqlalchemy.engine.base.Engine INSERT INTO "Album" (title, artist_id) VALUES (?, ?)
2019-07-09 13:47:02,507 INFO sqlalchemy.engine.base.Engine (('IV', 1), ('Who Made Who', 2))
2019-07-09 13:47:02,509 INFO sqlalchemy.engine.base.Engine COMMIT

In [31]:
result = conn.execute(genre.insert(),[
    {"name":"Rock"},
    {"name":"Metal"}
])

2019-07-09 13:49:36,247 INFO sqlalchemy.engine.base.Engine INSERT INTO "Genre" (name) VALUES (?)
2019-07-09 13:49:36,248 INFO sqlalchemy.engine.base.Engine (('Rock',), ('Metal',))
2019-07-09 13:49:36,251 INFO sqlalchemy.engine.base.Engine COMMIT

In [32]:
result = conn.execute(track.insert(),[
    {"title":"Black Dog","rating":5,"length":297,"count":0,
    "album_id":1,"genre_id":1},
    {"title":"Stairway","rating":5,"length":482,"count":0,
    "album_id":1,"genre_id":1},
    {"title":"About to rock","rating":5,"length":313,"count":0,
    "album_id":2,"genre_id":2},
    {"title":"Who Mad Who","rating":5,"length":297,"count":0,
    "album_id":2,"genre_id":2}
    
])

2019-07-09 13:51:30,132 INFO sqlalchemy.engine.base.Engine INSERT INTO "Track" (title, length, rating, count, album_id, genre_id) VALUES (?, ?, ?, ?, ?, ?)
2019-07-09 13:51:30,134 INFO sqlalchemy.engine.base.Engine (('Black Dog', 297, 5, 0, 1, 1), ('Stairway', 482, 5, 0, 1, 1), ('About to rock', 313, 5, 0, 2, 2), ('Who Mad Who', 297, 5, 0, 2, 2))
2019-07-09 13:51:30,137 INFO sqlalchemy.engine.base.Engine COMMIT

In [45]:
tables = metadata.tables

In [46]:
for table in tables:
    print(table)

Artist
Album
Genre
Track

In [50]:
for table in engine.table_names():
    print(table)

2019-07-09 14:08:21,174 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-07-09 14:08:21,176 INFO sqlalchemy.engine.base.Engine ()
Album
Artist
Genre
Track

In [52]:
from sqlalchemy import and_,or_,not_

In [53]:
from sqlalchemy.sql import select

In [55]:
trackResult = conn.execute(select([track])
                          .where(
                          and_(track.c.album_id == 1,track.c.genre_id == 1)
                          )
                          )
for row in trackResult:
    print(row)

2019-07-09 14:08:45,472 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track"
WHERE "Track".album_id = ? AND "Track".genre_id = ?
2019-07-09 14:08:45,473 INFO sqlalchemy.engine.base.Engine (1, 1)
(1, 'Black Dog', 297, 5, 0, 1, 1)
(2, 'Stairway', 482, 5, 0, 1, 1)

In [56]:
from sqlalchemy import update

conn.execute(track.update().values(genre_id=2).where(track.c.id==2))
conn.execute(track.update().values(genre_id=1).where(track.c.id==3))

2019-07-09 14:09:28,988 INFO sqlalchemy.engine.base.Engine UPDATE "Track" SET genre_id=? WHERE "Track".id = ?
2019-07-09 14:09:28,990 INFO sqlalchemy.engine.base.Engine (2, 2)
2019-07-09 14:09:28,993 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 14:09:29,002 INFO sqlalchemy.engine.base.Engine UPDATE "Track" SET genre_id=? WHERE "Track".id = ?
2019-07-09 14:09:29,004 INFO sqlalchemy.engine.base.Engine (1, 3)
2019-07-09 14:09:29,006 INFO sqlalchemy.engine.base.Engine COMMIT

In [ ]:
trackResult = conn.execute

In [57]:
trackResult = conn.execute(select([track])
                          .where(
                          and_(track.c.album_id == 1,
                               or_(track.c.genre_id == 1,
                                  track.c.genre_id==2)
                              )
                          )
                          )
for row in trackResult:
    print(row)

2019-07-09 14:11:39,148 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track"
WHERE "Track".album_id = ? AND ("Track".genre_id = ? OR "Track".genre_id = ?)
2019-07-09 14:11:39,149 INFO sqlalchemy.engine.base.Engine (1, 1, 2)
(1, 'Black Dog', 297, 5, 0, 1, 1)
(2, 'Stairway', 482, 5, 0, 1, 2)

In [58]:
print(track.join(album))

"Track" JOIN "Album" ON "Album".id = "Track".album_id

In [59]:
result = conn.execute(track.select()
                     .select_from(track.join(album)))

2019-07-09 14:12:23,557 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id
2019-07-09 14:12:23,559 INFO sqlalchemy.engine.base.Engine ()

In [60]:
for row in result.fetchall():
    print(row)

(1, 'Black Dog', 297, 5, 0, 1, 1)
(2, 'Stairway', 482, 5, 0, 1, 2)
(3, 'About to rock', 313, 5, 0, 2, 1)
(4, 'Who Mad Who', 297, 5, 0, 2, 2)

In [61]:
result = conn.execute(track
                     .select()
                     .select_from(track.join(album))
                     .where(album.c.id == 1))

2019-07-09 14:13:00,325 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id
WHERE "Album".id = ?
2019-07-09 14:13:00,327 INFO sqlalchemy.engine.base.Engine (1,)

In [62]:
for row in result.fetchall():
    print(row)

(1, 'Black Dog', 297, 5, 0, 1, 1)
(2, 'Stairway', 482, 5, 0, 1, 2)

In [63]:
print(track.join(album).join(genre))

"Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Genre" ON "Genre".id = "Track".genre_id

In [64]:
print(track.join(album).join(artist))

"Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Artist" ON "Artist".id = "Album".artist_id

In [65]:
print(track.join(album).join(genre).join(artist))

"Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Genre" ON "Genre".id = "Track".genre_id JOIN "Artist" ON "Artist".id = "Album".artist_id

In [66]:
result = conn.execute(select([track.c.title, album.c.title, genre.c.name, artist.c.name])
                     .select_from(track.join(album).join(genre).join(artist)))

2019-07-09 14:15:06,017 INFO sqlalchemy.engine.base.Engine SELECT "Track".title, "Album".title, "Genre".name, "Artist".name
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Genre" ON "Genre".id = "Track".genre_id JOIN "Artist" ON "Artist".id = "Album".artist_id
2019-07-09 14:15:06,018 INFO sqlalchemy.engine.base.Engine ()

In [67]:
for row in result.fetchall():
    print(row)

('Black Dog', 'IV', 'Rock', 'Led Zepplin')
('Stairway', 'IV', 'Metal', 'Led Zepplin')
('About to rock', 'Who Made Who', 'Rock', 'AC/DC')
('Who Mad Who', 'Who Made Who', 'Metal', 'AC/DC')

In [69]:
result = conn.execute(track
                     .select()
                     .select_from(track.join(album).join(genre).join(artist))
                     .where(
                         and_(
                             genre.c.id == 1,
                             artist.c.id == 2
                         )
                     )
                     )

for row in result:
    print(row)

2019-07-09 14:17:52,093 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Genre" ON "Genre".id = "Track".genre_id JOIN "Artist" ON "Artist".id = "Album".artist_id
WHERE "Genre".id = ? AND "Artist".id = ?
2019-07-09 14:17:52,095 INFO sqlalchemy.engine.base.Engine (1, 2)
(3, 'About to rock', 313, 5, 0, 2, 1)

In [77]:
tables = metadata.tables
for table in tables:
    print(table)

In [78]:
track = metadata.tables["Track"]

KeyError: 'Track'

In [73]:
track

Table('Track', MetaData(bind=None), Column('id', Integer(), table=<Track>, primary_key=True, nullable=False), Column('title', String(), table=<Track>, nullable=False), Column('length', Integer(), table=<Track>, nullable=False), Column('rating', Integer(), table=<Track>, nullable=False), Column('count', Integer(), table=<Track>, nullable=False), Column('album_id', Integer(), ForeignKey('Album.id'), table=<Track>), Column('genre_id', Integer(), ForeignKey('Genre.id'), table=<Track>), schema=None)

In [79]:
for row in conn.execute(track.select()).fetchall():
    print(row)

StatementError: (sqlalchemy.exc.ResourceClosedError) This Connection is closed
[SQL: SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track"]

In [80]:
conn.close() # engine 끊음

In [81]:
for table in engine.table_names():
    print(table) # 엔진(DBMS)에는 남아있음.

2019-07-09 14:20:55,256 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-07-09 14:20:55,257 INFO sqlalchemy.engine.base.Engine ()
Album
Artist
Genre
Track

In [76]:
metadata.clear() # 메모리상에는 없음

In [82]:
engine = create_engine("sqlite:///alchemy_core.db",echo=True)
conn = engine.connect()

2019-07-09 14:23:15,747 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-07-09 14:23:15,749 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:23:15,750 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-07-09 14:23:15,751 INFO sqlalchemy.engine.base.Engine ()

In [105]:
metadata = MetaData(bind = engine,reflect=True)

2019-07-09 14:25:36,078 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-07-09 14:25:36,080 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:36,082 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Album")
2019-07-09 14:25:36,083 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:36,086 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2019-07-09 14:25:36,087 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:36,089 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Album")
2019-07-09 14:25:36,090 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:36,092 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2019-07-09 14:25:36,093 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:36,095 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Artist")
2019-07-09 14:25:36,095 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:36,098 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2019-07-09 14:25:36,099 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:36,101 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Artist")
2019-07-09 14:25:36,102 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:36,103 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2019-07-09 14:25:36,103 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:36,105 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Artist")
2019-07-09 14:25:36,106 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:36,108 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Artist")
2019-07-09 14:25:36,109 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:36,111 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2019-07-09 14:25:36,112 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:36,114 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Album")
2019-07-09 14:25:36,114 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:36,116 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Album")
2019-07-09 14:25:36,117 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:36,118 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2019-07-09 14:25:36,119 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:36,121 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Genre")
2019-07-09 14:25:36,123 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:36,125 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2019-07-09 14:25:36,126 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:36,128 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Genre")
2019-07-09 14:25:36,129 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:36,130 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2019-07-09 14:25:36,131 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:36,133 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Genre")
2019-07-09 14:25:36,134 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:36,135 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Genre")
2019-07-09 14:25:36,136 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:36,138 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2019-07-09 14:25:36,139 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:36,140 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Track")
2019-07-09 14:25:36,141 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:36,144 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2019-07-09 14:25:36,144 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:36,147 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Track")
2019-07-09 14:25:36,148 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:36,150 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2019-07-09 14:25:36,151 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:36,153 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Track")
2019-07-09 14:25:36,155 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:36,157 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Track")
2019-07-09 14:25:36,158 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:36,160 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2019-07-09 14:25:36,161 INFO sqlalchemy.engine.base.Engine ()

C:\Users\SeoDongUk\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SADeprecationWarning: The MetaData.reflect flag is deprecated and will be removed in a future release.   Please use the MetaData.reflect() method.
  """Entry point for launching an IPython kernel.

In [109]:
metadata.reflect(bind=engine)

2019-07-09 14:25:53,511 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-07-09 14:25:53,512 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:53,514 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Album")
2019-07-09 14:25:53,516 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:53,518 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2019-07-09 14:25:53,519 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:53,521 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Album")
2019-07-09 14:25:53,522 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:53,524 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2019-07-09 14:25:53,525 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:53,527 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Artist")
2019-07-09 14:25:53,529 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:53,530 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2019-07-09 14:25:53,531 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:53,534 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Artist")
2019-07-09 14:25:53,535 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:53,536 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2019-07-09 14:25:53,537 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:53,540 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Artist")
2019-07-09 14:25:53,541 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:53,543 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Artist")
2019-07-09 14:25:53,544 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:53,546 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2019-07-09 14:25:53,547 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:53,550 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Album")
2019-07-09 14:25:53,551 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:53,554 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Album")
2019-07-09 14:25:53,555 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:53,557 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2019-07-09 14:25:53,558 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:53,561 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Genre")
2019-07-09 14:25:53,562 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:53,564 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2019-07-09 14:25:53,565 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:53,568 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Genre")
2019-07-09 14:25:53,569 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:53,571 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2019-07-09 14:25:53,572 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:53,574 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Genre")
2019-07-09 14:25:53,576 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:53,578 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Genre")
2019-07-09 14:25:53,579 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:53,581 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2019-07-09 14:25:53,582 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:53,585 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Track")
2019-07-09 14:25:53,586 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:53,589 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2019-07-09 14:25:53,590 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:53,593 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Track")
2019-07-09 14:25:53,594 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:53,597 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2019-07-09 14:25:53,599 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:53,602 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Track")
2019-07-09 14:25:53,604 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:53,607 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Track")
2019-07-09 14:25:53,609 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:25:53,611 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2019-07-09 14:25:53,613 INFO sqlalchemy.engine.base.Engine ()

In [110]:
metadata.tables

immutabledict({'Album': Table('Album', MetaData(bind=Engine(sqlite:///test2.db)), Column('id', INTEGER(), table=<Album>, primary_key=True, nullable=False), Column('title', VARCHAR(), table=<Album>, nullable=False), Column('artist_id', INTEGER(), ForeignKey('Artist.id'), table=<Album>), schema=None), 'Artist': Table('Artist', MetaData(bind=Engine(sqlite:///test2.db)), Column('id', INTEGER(), table=<Artist>, primary_key=True, nullable=False), Column('name', VARCHAR(), table=<Artist>, nullable=False), schema=None), 'Genre': Table('Genre', MetaData(bind=Engine(sqlite:///test2.db)), Column('id', INTEGER(), table=<Genre>, primary_key=True, nullable=False), Column('name', VARCHAR(), table=<Genre>, nullable=False), schema=None), 'Track': Table('Track', MetaData(bind=Engine(sqlite:///test2.db)), Column('id', INTEGER(), table=<Track>, primary_key=True, nullable=False), Column('title', VARCHAR(), table=<Track>, nullable=False), Column('length', INTEGER(), table=<Track>, nullable=False), Column('rating', INTEGER(), table=<Track>, nullable=False), Column('count', INTEGER(), table=<Track>, nullable=False), Column('album_id', INTEGER(), ForeignKey('Album.id'), table=<Track>), Column('genre_id', INTEGER(), ForeignKey('Genre.id'), table=<Track>), schema=None)})

In [146]:
metadata.clear()

In [181]:
from sqlalchemy import create_engine

In [223]:
engine = create_engine("sqlite:///test5.db",echo=True)

In [224]:
from sqlalchemy.ext.declarative import declarative_base
base = declarative_base()

In [150]:
class User(base):
    __tablename__ = "users"
    
    id = Column(Integer,primary_key = True)
    name = Column(String)
    fullname = Column(String)
    password = Column("Passwd",String)
    
    def __repr__(self):
        return "<T'User(name = '%s',fullname='%s', password = '%s')>" \
    % (self.name,self.fullname, self.password)

In [186]:
Artist.__table__

Table('Artist', MetaData(bind=None), Column('id', Integer(), table=<Artist>, primary_key=True, nullable=False), Column('name', String(), table=<Artist>), schema=None)

In [138]:
User.__mapper__

In [226]:
base.metadata.create_all(engine)

2019-07-09 15:44:04,792 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-07-09 15:44:04,793 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:44:04,795 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-07-09 15:44:04,796 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:44:04,798 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Artist")
2019-07-09 15:44:04,799 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:44:04,801 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Album")
2019-07-09 15:44:04,802 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:44:04,804 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Genre")
2019-07-09 15:44:04,805 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:44:04,807 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Track")
2019-07-09 15:44:04,808 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:44:04,811 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Artist" (
	id INTEGER NOT NULL,
	name VARCHAR,
	PRIMARY KEY (id)
)


2019-07-09 15:44:04,812 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:44:04,824 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 15:44:04,827 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Genre" (
	id INTEGER NOT NULL,
	name VARCHAR,
	PRIMARY KEY (id)
)


2019-07-09 15:44:04,828 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:44:04,841 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 15:44:04,847 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Album" (
	id INTEGER NOT NULL,
	title VARCHAR,
	artist_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(artist_id) REFERENCES "Artist" (id)
)


2019-07-09 15:44:04,848 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:44:04,859 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 15:44:04,861 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Track" (
	id INTEGER NOT NULL,
	title VARCHAR,
	length INTEGER,
	rating INTEGER,
	count INTEGER,
	album_id INTEGER,
	genre_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(album_id) REFERENCES "Album" (id),
	FOREIGN KEY(genre_id) REFERENCES "Genre" (id)
)


2019-07-09 15:44:04,863 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:44:04,876 INFO sqlalchemy.engine.base.Engine COMMIT

In [140]:
Kim = User(name = "kim")

In [141]:
base.metadata.create_all(engine)

2019-07-09 14:36:35,320 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-07-09 14:36:35,321 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:36:35,322 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-07-09 14:36:35,323 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:36:35,325 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2019-07-09 14:36:35,326 INFO sqlalchemy.engine.base.Engine ()

In [142]:
kim = User(name = "kim",fullname = 'anonymmous,Kim',password = "kimbap heaven")

In [143]:
print(kim)

<T'User(name = 'kim',fullname=anonymmous,Kim,password = 'kimbap heaven')>

In [170]:
print(kim.id)

2019-07-09 14:55:42,362 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-07-09 14:55:42,364 INFO sqlalchemy.engine.base.Engine SELECT users."Passwd" AS "users_Passwd", users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname
FROM users
WHERE users.id = ?
2019-07-09 14:55:42,365 INFO sqlalchemy.engine.base.Engine (1,)
1

In [153]:
# Session
class sqlalchemy.orm.session.Session
# session maker

SyntaxError: invalid syntax (<ipython-input-153-f1eafe9c2a21>, line 2)

In [227]:
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)
session = Session()

In [157]:
session.add(kim)

In [158]:
session.add_all([
    User(name="lee",fullname="unknow,Lee",password="123456789a"),
    User(name="park",fullname="nobody,Park",password="Parking in Park"),
])

In [160]:
session.commit()

2019-07-09 14:45:27,864 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-07-09 14:45:27,865 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:45:27,867 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-07-09 14:45:27,868 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:45:27,870 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-07-09 14:45:27,873 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, "Passwd") VALUES (?, ?, ?)
2019-07-09 14:45:27,874 INFO sqlalchemy.engine.base.Engine ('kim', 'anonymmous,Kim', 'kimbap heaven')
2019-07-09 14:45:27,879 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, "Passwd") VALUES (?, ?, ?)
2019-07-09 14:45:27,880 INFO sqlalchemy.engine.base.Engine ('lee', 'unknow,Lee', '123456789a')
2019-07-09 14:45:27,881 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, "Passwd") VALUES (?, ?, ?)
2019-07-09 14:45:27,882 INFO sqlalchemy.engine.base.Engine ('park', 'nobody,Park', 'Parking in Park')
2019-07-09 14:45:27,884 INFO sqlalchemy.engine.base.Engine COMMIT

In [165]:
# 세션은 뭐하는 애
kim.password = "password"
session.dirty

IdentitySet([<T'User(name = 'kim',fullname=anonymmous,Kim,password = 'password')>])

In [168]:
session.is_modified(kim)

True

In [169]:
session.commit()

2019-07-09 14:52:20,883 INFO sqlalchemy.engine.base.Engine UPDATE users SET "Passwd"=? WHERE users.id = ?
2019-07-09 14:52:20,884 INFO sqlalchemy.engine.base.Engine ('password', 1)
2019-07-09 14:52:20,889 INFO sqlalchemy.engine.base.Engine COMMIT

In [171]:
for row in session.query(User):
    print(type(row))
    print(row.id,row.name,row.fullname,row.password) # 클래스여서 가능

2019-07-09 15:10:24,955 INFO sqlalchemy.engine.base.Engine SELECT users."Passwd" AS "users_Passwd", users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname
FROM users
2019-07-09 15:10:24,956 INFO sqlalchemy.engine.base.Engine ()
<class '__main__.User'>
1 kim anonymmous,Kim password
<class '__main__.User'>
2 lee unknow,Lee 123456789a
<class '__main__.User'>
3 park nobody,Park Parking in Park

In [174]:
for row in session.query(User.id, User.fullname).filter(User.name == "lee"):
    print(type(row))
    print(row.id,row.fullname) # 클래스여서 가능

2019-07-09 15:12:43,783 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.fullname AS users_fullname
FROM users
WHERE users.name = ?
2019-07-09 15:12:43,784 INFO sqlalchemy.engine.base.Engine ('lee',)
<class 'sqlalchemy.util._collections.result'>
2 unknow,Lee

In [177]:
for row in session.query(User.id, User.fullname).filter_by(name = "lee"):
    print(type(row))
    print(row.id,row.fullname) # 클래스여서 가능

2019-07-09 15:15:20,790 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.fullname AS users_fullname
FROM users
WHERE users.name = ?
2019-07-09 15:15:20,791 INFO sqlalchemy.engine.base.Engine ('lee',)
<class 'sqlalchemy.util._collections.result'>
2 unknow,Lee

In [184]:
class Artist(base):
    __tablename__ = "Artist"
    id = Column(Integer,primary_key=True)
    name = Column(String)
    
class Album(base):
    __tablename__ = "Album"
    id = Column(Integer,primary_key=True)
    title = Column(String)
    artist_id = Column(Integer,ForeignKey("Artist.id"))
    
class Genre(base):
    __tablename__ = "Genre"
    id = Column(Integer,primary_key=True)
    name = Column(String)
    
class Track(base):
    __tablename__ = "Track"
    id = Column(Integer,primary_key=True)
    title = Column(String)
    length = Column(Integer)
    rating = Column(Integer)
    count = Column(Integer)
    album_id = Column(Integer,ForeignKey("Album.id"))
    genre_id = Column(Integer,ForeignKey("Genre.id"))

In [188]:
artist1 = Artist(name="Led Zepplin")
artist2 = Artist(name = "AC/DC")

In [193]:
session.add_all([artist1,artist2])

In [194]:
session.commit()

2019-07-09 15:20:52,313 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-07-09 15:20:52,315 INFO sqlalchemy.engine.base.Engine INSERT INTO "Artist" (name) VALUES (?)
2019-07-09 15:20:52,316 INFO sqlalchemy.engine.base.Engine ('Led Zepplin',)
2019-07-09 15:20:52,319 INFO sqlalchemy.engine.base.Engine INSERT INTO "Artist" (name) VALUES (?)
2019-07-09 15:20:52,320 INFO sqlalchemy.engine.base.Engine ('AC/DC',)
2019-07-09 15:20:52,322 INFO sqlalchemy.engine.base.Engine COMMIT

In [195]:
album = [Album(title="IV",artist_id = artist1.id),
        Album(title="Who Made Who",artist_id=artist2.id)]

2019-07-09 15:21:33,585 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-07-09 15:21:33,588 INFO sqlalchemy.engine.base.Engine SELECT "Artist".id AS "Artist_id", "Artist".name AS "Artist_name"
FROM "Artist"
WHERE "Artist".id = ?
2019-07-09 15:21:33,589 INFO sqlalchemy.engine.base.Engine (1,)
2019-07-09 15:21:33,593 INFO sqlalchemy.engine.base.Engine SELECT "Artist".id AS "Artist_id", "Artist".name AS "Artist_name"
FROM "Artist"
WHERE "Artist".id = ?
2019-07-09 15:21:33,594 INFO sqlalchemy.engine.base.Engine (2,)

In [196]:
session.add_all(album)

In [197]:
session.commit()

2019-07-09 15:21:44,401 INFO sqlalchemy.engine.base.Engine INSERT INTO "Album" (title, artist_id) VALUES (?, ?)
2019-07-09 15:21:44,402 INFO sqlalchemy.engine.base.Engine ('IV', 1)
2019-07-09 15:21:44,405 INFO sqlalchemy.engine.base.Engine INSERT INTO "Album" (title, artist_id) VALUES (?, ?)
2019-07-09 15:21:44,406 INFO sqlalchemy.engine.base.Engine ('Who Made Who', 2)
2019-07-09 15:21:44,408 INFO sqlalchemy.engine.base.Engine COMMIT

In [198]:
album1 = session.query(Album).filter(Album.artist_id == artist1.id).one()
album2 = session.query(Album).filter(Album.artist_id == artist2.id).one()

2019-07-09 15:22:30,989 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-07-09 15:22:30,992 INFO sqlalchemy.engine.base.Engine SELECT "Artist".id AS "Artist_id", "Artist".name AS "Artist_name"
FROM "Artist"
WHERE "Artist".id = ?
2019-07-09 15:22:30,993 INFO sqlalchemy.engine.base.Engine (1,)
2019-07-09 15:22:30,997 INFO sqlalchemy.engine.base.Engine SELECT "Album".id AS "Album_id", "Album".title AS "Album_title", "Album".artist_id AS "Album_artist_id"
FROM "Album"
WHERE "Album".artist_id = ?
2019-07-09 15:22:30,998 INFO sqlalchemy.engine.base.Engine (1,)
2019-07-09 15:22:31,000 INFO sqlalchemy.engine.base.Engine SELECT "Artist".id AS "Artist_id", "Artist".name AS "Artist_name"
FROM "Artist"
WHERE "Artist".id = ?
2019-07-09 15:22:31,002 INFO sqlalchemy.engine.base.Engine (2,)
2019-07-09 15:22:31,005 INFO sqlalchemy.engine.base.Engine SELECT "Album".id AS "Album_id", "Album".title AS "Album_title", "Album".artist_id AS "Album_artist_id"
FROM "Album"
WHERE "Album".artist_id = ?
2019-07-09 15:22:31,006 INFO sqlalchemy.engine.base.Engine (2,)

In [210]:
genre1 = session.query(Genre).filter(Genre.name == "Rock").filter(Genre.id==1).one()
genre2 = session.query(Genre).filter(Genre.name == "Metal").filter(Genre.id==2).one()

2019-07-09 15:36:50,873 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-07-09 15:36:50,875 INFO sqlalchemy.engine.base.Engine SELECT "Genre".id AS "Genre_id", "Genre".name AS "Genre_name"
FROM "Genre"
WHERE "Genre".name = ? AND "Genre".id = ?
2019-07-09 15:36:50,877 INFO sqlalchemy.engine.base.Engine ('Rock', 1)
2019-07-09 15:36:50,880 INFO sqlalchemy.engine.base.Engine SELECT "Genre".id AS "Genre_id", "Genre".name AS "Genre_name"
FROM "Genre"
WHERE "Genre".name = ? AND "Genre".id = ?
2019-07-09 15:36:50,881 INFO sqlalchemy.engine.base.Engine ('Metal', 2)

In [211]:
track = [Track(title="Black Dog",rating=5,length=297,count=0,album_id=album1.id,
              genre_id=genre1.id),
        Track(title="Stariway",rating=5,length=482,count=0,album_id=album1.id,
              genre_id=genre2.id),
        Track(title="About to rock",rating=5,length=313,count=0,album_id=album2.id,
              genre_id=genre1.id),
        Track(title="Who Made Who",rating=5,length=297,count=0,album_id=album2.id,
              genre_id=genre2.id)]

2019-07-09 15:36:53,332 INFO sqlalchemy.engine.base.Engine SELECT "Album".id AS "Album_id", "Album".title AS "Album_title", "Album".artist_id AS "Album_artist_id"
FROM "Album"
WHERE "Album".id = ?
2019-07-09 15:36:53,333 INFO sqlalchemy.engine.base.Engine (1,)
2019-07-09 15:36:53,335 INFO sqlalchemy.engine.base.Engine SELECT "Album".id AS "Album_id", "Album".title AS "Album_title", "Album".artist_id AS "Album_artist_id"
FROM "Album"
WHERE "Album".id = ?
2019-07-09 15:36:53,336 INFO sqlalchemy.engine.base.Engine (2,)

In [208]:
session.add_all([Genre(name="Rock"),Genre(name="Metal")])

In [209]:
session.commit()

2019-07-09 15:36:29,054 INFO sqlalchemy.engine.base.Engine INSERT INTO "Genre" (name) VALUES (?)
2019-07-09 15:36:29,055 INFO sqlalchemy.engine.base.Engine ('Rock',)
2019-07-09 15:36:29,058 INFO sqlalchemy.engine.base.Engine INSERT INTO "Genre" (name) VALUES (?)
2019-07-09 15:36:29,059 INFO sqlalchemy.engine.base.Engine ('Metal',)
2019-07-09 15:36:29,061 INFO sqlalchemy.engine.base.Engine COMMIT

In [212]:
session.add_all(track)

In [213]:
session.commit()

2019-07-09 15:37:11,797 INFO sqlalchemy.engine.base.Engine INSERT INTO "Track" (title, length, rating, count, album_id, genre_id) VALUES (?, ?, ?, ?, ?, ?)
2019-07-09 15:37:11,799 INFO sqlalchemy.engine.base.Engine ('Black Dog', 297, 5, 0, 1, 1)
2019-07-09 15:37:11,804 INFO sqlalchemy.engine.base.Engine INSERT INTO "Track" (title, length, rating, count, album_id, genre_id) VALUES (?, ?, ?, ?, ?, ?)
2019-07-09 15:37:11,805 INFO sqlalchemy.engine.base.Engine ('Stariway', 482, 5, 0, 1, 2)
2019-07-09 15:37:11,807 INFO sqlalchemy.engine.base.Engine INSERT INTO "Track" (title, length, rating, count, album_id, genre_id) VALUES (?, ?, ?, ?, ?, ?)
2019-07-09 15:37:11,809 INFO sqlalchemy.engine.base.Engine ('About to rock', 313, 5, 0, 2, 1)
2019-07-09 15:37:11,811 INFO sqlalchemy.engine.base.Engine INSERT INTO "Track" (title, length, rating, count, album_id, genre_id) VALUES (?, ?, ?, ?, ?, ?)
2019-07-09 15:37:11,813 INFO sqlalchemy.engine.base.Engine ('Who Made Who', 297, 5, 0, 2, 2)
2019-07-09 15:37:11,816 INFO sqlalchemy.engine.base.Engine COMMIT

In [215]:
result = session.query(Track.title,Album.title,Genre.name,Artist.name)\
    .select_from(Track)\
    .join(Album)\
    .join(Genre)\
    .join(Artist).all()

2019-07-09 15:38:17,018 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-07-09 15:38:17,020 INFO sqlalchemy.engine.base.Engine SELECT "Track".title AS "Track_title", "Album".title AS "Album_title", "Genre".name AS "Genre_name", "Artist".name AS "Artist_name"
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Genre" ON "Genre".id = "Track".genre_id JOIN "Artist" ON "Artist".id = "Album".artist_id
2019-07-09 15:38:17,021 INFO sqlalchemy.engine.base.Engine ()

In [216]:
for row in result:
    print(row)

('Black Dog', 'IV', 'Rock', 'Led Zepplin')
('Stariway', 'IV', 'Metal', 'Led Zepplin')
('About to rock', 'Who Made Who', 'Rock', 'AC/DC')
('Who Made Who', 'Who Made Who', 'Metal', 'AC/DC')

In [217]:
songList = [dict(Track=row[0],Album=row[1],Artist=row[3])for row in result]

In [218]:
songList

[{'Track': 'Black Dog', 'Album': 'IV', 'Artist': 'Led Zepplin'},
 {'Track': 'Stariway', 'Album': 'IV', 'Artist': 'Led Zepplin'},
 {'Track': 'About to rock', 'Album': 'Who Made Who', 'Artist': 'AC/DC'},
 {'Track': 'Who Made Who', 'Album': 'Who Made Who', 'Artist': 'AC/DC'}]

In [225]:
class Artist(base):
    __tablename__ = "Artist"
    id = Column(Integer,primary_key=True)
    name = Column(String)
    
    albumList = relationship("Album",back_populates="artist")
    
class Album(base):
    __tablename__ = "Album"
    id = Column(Integer,primary_key=True)
    title = Column(String)
    artist_id = Column(Integer,ForeignKey("Artist.id"))
    
    artist = relationship("Artist",back_populates="albumList",uselist=False)
    trackList = relationship("Track",back_populates="album")
    
class Genre(base):
    __tablename__ = "Genre"
    id = Column(Integer,primary_key=True)
    name = Column(String)
    
    trackList = relationship("Track",back_populates="genre")
    
class Track(base):
    __tablename__ = "Track"
    id = Column(Integer,primary_key=True)
    title = Column(String)
    length = Column(Integer)
    rating = Column(Integer)
    count = Column(Integer)
    album_id = Column(Integer,ForeignKey("Album.id"))
    genre_id = Column(Integer,ForeignKey("Genre.id"))
    
    album = relationship("Album",back_populates="trackList",uselist=False)
    genre = relationship("Genre",back_populates="trackList",uselist=False)

In [221]:
from sqlalchemy.orm import relationship

In [228]:
track1 = Track(title="Black Dog",rating=5,length=297,count=0)
track2 = Track(title="Stairway",rating=5,length=482,count=0)
track3 = Track(title="About to rock",rating=5,length=313,count=0)
track4 = Track(title="Who Made Who",rating=5,length=297,count=0)

In [229]:
track1.album = track2.album = Album(title="IV")
track3.album = track4.album = Album(title="Who Made Who")

In [230]:
track1.genre = track3.genre = Genre(name = "Rock")
track2.genre = track4.genre = Genre(name = "Metal")

In [231]:
track1.album.artist = track2.album.artist = Artist(name="Led Zepplin")

In [232]:
track3.album.artist = track4.album.artist = Artist(name = "AC/DC")

In [237]:
print("Title :%s, Album :%s, Genre :%s, Artist :%s"%
     (track1.title,track1.album.title,track1.genre.name,track1.album.artist.name))

2019-07-09 15:49:48,260 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-07-09 15:49:48,263 INFO sqlalchemy.engine.base.Engine SELECT "Track".id AS "Track_id", "Track".title AS "Track_title", "Track".length AS "Track_length", "Track".rating AS "Track_rating", "Track".count AS "Track_count", "Track".album_id AS "Track_album_id", "Track".genre_id AS "Track_genre_id"
FROM "Track"
WHERE "Track".id = ?
2019-07-09 15:49:48,263 INFO sqlalchemy.engine.base.Engine (1,)
2019-07-09 15:49:48,267 INFO sqlalchemy.engine.base.Engine SELECT "Album".id AS "Album_id", "Album".title AS "Album_title", "Album".artist_id AS "Album_artist_id"
FROM "Album"
WHERE "Album".id = ?
2019-07-09 15:49:48,269 INFO sqlalchemy.engine.base.Engine (1,)
2019-07-09 15:49:48,273 INFO sqlalchemy.engine.base.Engine SELECT "Genre".id AS "Genre_id", "Genre".name AS "Genre_name"
FROM "Genre"
WHERE "Genre".id = ?
2019-07-09 15:49:48,275 INFO sqlalchemy.engine.base.Engine (2,)
2019-07-09 15:49:48,279 INFO sqlalchemy.engine.base.Engine SELECT "Artist".id AS "Artist_id", "Artist".name AS "Artist_name"
FROM "Artist"
WHERE "Artist".id = ?
2019-07-09 15:49:48,280 INFO sqlalchemy.engine.base.Engine (1,)
Title :Black Dog, Album :IV, Genre :Rock, Artist :Led Zepplin

In [235]:
session.add_all([track1,track2,track3,track4])

In [236]:
session.commit()

2019-07-09 15:48:58,908 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-07-09 15:48:58,910 INFO sqlalchemy.engine.base.Engine INSERT INTO "Genre" (name) VALUES (?)
2019-07-09 15:48:58,910 INFO sqlalchemy.engine.base.Engine ('Metal',)
2019-07-09 15:48:58,914 INFO sqlalchemy.engine.base.Engine INSERT INTO "Genre" (name) VALUES (?)
2019-07-09 15:48:58,915 INFO sqlalchemy.engine.base.Engine ('Rock',)
2019-07-09 15:48:58,917 INFO sqlalchemy.engine.base.Engine INSERT INTO "Artist" (name) VALUES (?)
2019-07-09 15:48:58,918 INFO sqlalchemy.engine.base.Engine ('Led Zepplin',)
2019-07-09 15:48:58,920 INFO sqlalchemy.engine.base.Engine INSERT INTO "Artist" (name) VALUES (?)
2019-07-09 15:48:58,921 INFO sqlalchemy.engine.base.Engine ('AC/DC',)
2019-07-09 15:48:58,923 INFO sqlalchemy.engine.base.Engine INSERT INTO "Album" (title, artist_id) VALUES (?, ?)
2019-07-09 15:48:58,925 INFO sqlalchemy.engine.base.Engine ('IV', 1)
2019-07-09 15:48:58,927 INFO sqlalchemy.engine.base.Engine INSERT INTO "Album" (title, artist_id) VALUES (?, ?)
2019-07-09 15:48:58,928 INFO sqlalchemy.engine.base.Engine ('Who Made Who', 2)
2019-07-09 15:48:58,932 INFO sqlalchemy.engine.base.Engine INSERT INTO "Track" (title, length, rating, count, album_id, genre_id) VALUES (?, ?, ?, ?, ?, ?)
2019-07-09 15:48:58,933 INFO sqlalchemy.engine.base.Engine ('Black Dog', 297, 5, 0, 1, 2)
2019-07-09 15:48:58,936 INFO sqlalchemy.engine.base.Engine INSERT INTO "Track" (title, length, rating, count, album_id, genre_id) VALUES (?, ?, ?, ?, ?, ?)
2019-07-09 15:48:58,937 INFO sqlalchemy.engine.base.Engine ('Stairway', 482, 5, 0, 1, 1)
2019-07-09 15:48:58,939 INFO sqlalchemy.engine.base.Engine INSERT INTO "Track" (title, length, rating, count, album_id, genre_id) VALUES (?, ?, ?, ?, ?, ?)
2019-07-09 15:48:58,940 INFO sqlalchemy.engine.base.Engine ('Who Made Who', 297, 5, 0, 2, 1)
2019-07-09 15:48:58,942 INFO sqlalchemy.engine.base.Engine INSERT INTO "Track" (title, length, rating, count, album_id, genre_id) VALUES (?, ?, ?, ?, ?, ?)
2019-07-09 15:48:58,944 INFO sqlalchemy.engine.base.Engine ('About to rock', 313, 5, 0, 2, 2)
2019-07-09 15:48:58,947 INFO sqlalchemy.engine.base.Engine COMMIT

In [253]:
a = dict(Hs=1,aga=2)

In [254]:
a

{'Hs': 1, 'aga': 2}

In [255]:
dict

dict

R