###### The ORM

- RDB + ORM => ODB
- ORM : Object Relational Mapping  
OOP를 이용해서 서로다른 시스템 간에 연동, 어느쪽 언어든지

- ORM을쓰면 쿼리를 몰라도 된다
- 단점 : overhead가 필요하다. (DB위에 ORM에 있고 mapping이 필요하니까)
- 해시 태그를 잘달아야 한다. (데이터를 요약, 요약한 걸 가지고 데이터를 검색하는 것에 사용)
- Entity : 연관된 데이터의 조각.

- 설계 따로 구현 따로?

INSERT INTO question VALUES(?,?,?,?,?);  
- 질문 입장에서는 PK

SELECT tag_id, name FROM tag WHERE name = "python";  
SELECT tag_id, name FROM tag WHERE name = "alchemy";  

INSERT INTO question_tag VALUES(1,1);  
INSERT INTO question_tag VALUES(1,2);  

UPDATE tag SET tagged_count = tagged_count + 1 WHERE name 'python'  
UPDATE tag SET tagged_count = tagged_count + 1 WHERE name 'alchemy'  

- SQL문 이 여러개면 코드를 확인해야한다.
- 그게 싫으면 프로시저단으로 묶으면 된다.

UPDATE question SET title = ?, contents = > WHERE question_id = 1;  

SELECT tag_id,name FROM tag WHERE name = 'python';  
SELECT tag_id,name FROM tag WHERE name = 'alchemy';  
SELECT tag_id,name FROM tag WHERE name = 'orm';  

INSERT INTO question_tag VALUES(1,3);  
DELETE FROM question_tag WHERE question_id = 1 and tag_id = 2;  

UPDATE tag SET tagged_count = tagged_count - 1 WHERE name = "alchemy"  
UPDATE tag SET tagged_count = tagged_count + 1 WHERE name = "orm"

- 할게 너무 많다!

public class Question{  
private long qid;  
private string title;  

public processTags(string tag){  
}  
}

public class Tag{  
private long tid;  
private string tag;  

public add(string tag){  
}  
}

quiestion(1)  
tag.getByName("python")

- ORM은 파이썬만 있는 것은 아니다
- ORM은 해당 ORM을 해석해야 해서 대중성이 떨어진다.
- Web Framework > ORM > database connector > relational database

## SQLAlchemy

어제는 connction을 바로 연결했으나 이건 database connection을 필요할때만 알아서 잘 연결한다

In [4]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\seodonguk\anaconda3\lib\site-packages (1.3.1)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import sqlalchemy

In [7]:
sqlalchemy.__version__

'1.3.1'

In [26]:
from sqlalchemy import create_engine

In [27]:
engine = create_engine("sqlite:///test.db",echo=True) # 메모리 작업, echo는 내행동에 대답을, 기억을 하라는 것

In [28]:
print(engine)

Engine(sqlite:///test.db)

Lazy connecting  
The echo flag is a shortcut to setting up SQLAlchemy logging

dialect + driver://username:password@host:port/database  : connector를 사용할때의 일반적인 방법  
sqlite://<nogostname>/<path>  
where <path> is relative:  
engine - create_engine('sqlite:///foo.db')    > 다 없어서 그냥 파일이름

In [24]:
type(engine)

sqlalchemy.engine.base.Engine

class sqlalchemy.schema.Table  
class sqlalchemy.schema.Column  
class sqlalchemy.schema.MetaData # 상속받아서 생성한다. 여기에 다있고 이걸 엔진에 넘긴다.

In [29]:
from sqlalchemy import Table,Column,Integer,String,MetaData,ForeignKey

metadata = MetaData()
users = Table('users',metadata,
             Column('id',Integer,primary_key=True),
             Column('name',String),
             Column('fullname',String))

In [30]:
addresses = Table('addresses',metadata,
         Column('id',Integer,primary_key=True),
         Column('user_id',None,ForeignKey('users.id')), # ForeignKey 있고 없고가 순서에 영향 줌.
         Column('email_address',String,nullable=False))

In [31]:
metadata.tables # 수정이 안된다. 수정해봤자 반영도 안됨.

immutabledict({'users': Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('fullname', String(), table=<users>), schema=None), 'addresses': Table('addresses', MetaData(bind=None), Column('id', Integer(), table=<addresses>, primary_key=True, nullable=False), Column('user_id', Integer(), ForeignKey('users.id'), table=<addresses>), Column('email_address', String(), table=<addresses>, nullable=False), schema=None)})

In [32]:
metadata.bind

In [33]:
metadata.create_all(engine) # Commit까지 다 된다.

2019-07-09 11:20:41,984 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-07-09 11:20:41,985 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 11:20:41,987 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-07-09 11:20:41,988 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 11:20:41,990 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2019-07-09 11:20:41,991 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 11:20:41,993 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("addresses")
2019-07-09 11:20:41,994 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 11:20:41,997 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	PRIMARY KEY (id)
)


2019-07-09 11:20:41,998 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 11:20:42,009 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 11:20:42,010 INFO sqlalchemy.engine.base.Engine
CREATE TABLE addresses (
	id INTEGER NOT NULL,
	user_id INTEGER,
	email_address VARCHAR NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES users (id)
)


2019-07-09 11:20:42,010 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 11:20:42,019 INFO sqlalchemy.engine.base.Engine COMMIT

In [34]:
insert = users.insert()
print(insert) # 쿼리인지 확인해보려고 적음.

INSERT INTO users (id, name, fullname) VALUES (:id, :name, :fullname)

In [35]:
insert = users.insert().values(name = 'kim',fullname='Anonymous,Kim') # id는 pk값이라 안넘김
print(insert)

INSERT INTO users (name, fullname) VALUES (:name, :fullname)

In [36]:
insert.compile().params # sql문으로 해석해 준것이지 아직 넘긴게 아니다.

{'name': 'kim', 'fullname': 'Anonymous,Kim'}

class sqlalchemy.engine.Connection  : 이걸로 접근  
execute() : 쿼리를 이걸로 날림  
class sqlalchemy.engine.ResultProxy(context) : 어제 커서 같은 놈

In [37]:
conn = engine.connect()
conn

insert.bind = engine
str(insert)

result = conn.execute(insert)
result.inserted_primary_key

2019-07-09 11:31:42,443 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname) VALUES (?, ?)
2019-07-09 11:31:42,444 INFO sqlalchemy.engine.base.Engine ('kim', 'Anonymous,Kim')
2019-07-09 11:31:42,448 INFO sqlalchemy.engine.base.Engine COMMIT

[1]

In [38]:
insert = users.insert()
result = conn.execute(insert,name='lee',fullname = 'Unknown,Lee')
result.inserted_primary_key

2019-07-09 11:32:54,064 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname) VALUES (?, ?)
2019-07-09 11:32:54,066 INFO sqlalchemy.engine.base.Engine ('lee', 'Unknown,Lee')
2019-07-09 11:32:54,069 INFO sqlalchemy.engine.base.Engine COMMIT

[2]

In [40]:
conn.execute(addresses.insert(),[
    {'user_id':1,
     'email_address':'anonymous.kim@test.com'},
    {'user_id':2,
     'email_address':'unknown.lee.kim@test.com'}
])

2019-07-09 11:37:45,965 INFO sqlalchemy.engine.base.Engine INSERT INTO addresses (user_id, email_address) VALUES (?, ?)
2019-07-09 11:37:45,965 INFO sqlalchemy.engine.base.Engine ((1, 'anonymous.kim@test.com'), (2, 'unknown.lee.kim@test.com'))
2019-07-09 11:37:45,971 INFO sqlalchemy.engine.base.Engine COMMIT

In [41]:
result.inserted_primary_key

[2]

In [42]:
from sqlalchemy.sql import select

In [52]:
query = select([users]) # columns,whereclause,form_obj,group_by,order_by
result = conn.execute(query)

2019-07-09 11:45:38,363 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users
2019-07-09 11:45:38,364 INFO sqlalchemy.engine.base.Engine ()

In [53]:
for row in result:
    print(row)

(1, 'kim', 'Anonymous,Kim')
(2, 'lee', 'Unknown,Lee')

In [50]:
result.fetchall()

[(1, 'kim', 'Anonymous,Kim'), (2, 'lee', 'Unknown,Lee')]

In [61]:
result =  conn.execute(select([users.c.name,users.c.fullname]))
result.fetchall()

2019-07-09 11:47:25,491 INFO sqlalchemy.engine.base.Engine SELECT users.name, users.fullname
FROM users
2019-07-09 11:47:25,492 INFO sqlalchemy.engine.base.Engine ()

[('kim', 'Anonymous,Kim'), ('lee', 'Unknown,Lee')]