In [26]:
import dis

In [1]:
a = int(input())# 결과 값이 또다른 함수에 들어감.

3

In [2]:
a = int(a)

In [3]:
import time
def x(a=time.time()):
    return a

In [5]:
time.time()

1562116777.1332176

In [29]:
def iterator_eaxm():
    for i in [1,2,3]:
        print(i)

In [30]:
dis.dis(iterator_eaxm)

  2           0 SETUP_LOOP              20 (to 22)
              2 LOAD_CONST               1 ((1, 2, 3))
              4 GET_ITER
        >>    6 FOR_ITER                12 (to 20)
              8 STORE_FAST               0 (i)

  3          10 LOAD_GLOBAL              0 (print)
             12 LOAD_FAST                0 (i)
             14 CALL_FUNCTION            1
             16 POP_TOP
             18 JUMP_ABSOLUTE            6
        >>   20 POP_BLOCK
        >>   22 LOAD_CONST               0 (None)
             24 RETURN_VALUE

In [37]:
a = "문근영"

In [38]:
b = iter(a)

In [41]:
int

int

In [24]:
next(b)

2

In [25]:
list(b)

[3]

In [51]:
a = r'ab\n' # r을 붙이면 있는 그대로

In [52]:
print(a)

ab

In [53]:
a = f'ab\n'

In [54]:
type(a)

str

내장 클래스 : 앞자리 소문자
외장 클래스 : 앞자리 대문자

In [55]:
a = 1

In [56]:
type(a)

int

In [57]:
a = int()

In [58]:
a

0

In [59]:
b = float()

In [60]:
b

0.0

In [63]:
c= set() # 기호자체가 할당되어있었기 때문에

In [64]:
c

set()

In [65]:
a = int('3') # 인스턴스 방식으로 새로 만든것.

In [67]:
a = iter([1,2,3])

제너레이터는 함수를 사용하거나 제너레이터 식(제너레이터 반복식)으로 만듬
- 함수안에 yield를 쓰면 제너레이터가 되고 next를 사용할수 있게 됨

In [76]:
def generator_exam():
    yield from [1,2,3,4] # yield를 써면 이터레이터로 쓸수 있음.

In [77]:
x = generator_exam()

In [71]:
type(x)

generator

In [82]:
next(x)

StopIteration:

In [102]:
[(x,y,x*y) for x in range(1,11) for y in range(10) ] # 반복식, 보통 값을 초기화 할때 사용

[(1, 0, 0),
 (1, 1, 1),
 (1, 2, 2),
 (1, 3, 3),
 (1, 4, 4),
 (1, 5, 5),
 (1, 6, 6),
 (1, 7, 7),
 (1, 8, 8),
 (1, 9, 9),
 (2, 0, 0),
 (2, 1, 2),
 (2, 2, 4),
 (2, 3, 6),
 (2, 4, 8),
 (2, 5, 10),
 (2, 6, 12),
 (2, 7, 14),
 (2, 8, 16),
 (2, 9, 18),
 (3, 0, 0),
 (3, 1, 3),
 (3, 2, 6),
 (3, 3, 9),
 (3, 4, 12),
 (3, 5, 15),
 (3, 6, 18),
 (3, 7, 21),
 (3, 8, 24),
 (3, 9, 27),
 (4, 0, 0),
 (4, 1, 4),
 (4, 2, 8),
 (4, 3, 12),
 (4, 4, 16),
 (4, 5, 20),
 (4, 6, 24),
 (4, 7, 28),
 (4, 8, 32),
 (4, 9, 36),
 (5, 0, 0),
 (5, 1, 5),
 (5, 2, 10),
 (5, 3, 15),
 (5, 4, 20),
 (5, 5, 25),
 (5, 6, 30),
 (5, 7, 35),
 (5, 8, 40),
 (5, 9, 45),
 (6, 0, 0),
 (6, 1, 6),
 (6, 2, 12),
 (6, 3, 18),
 (6, 4, 24),
 (6, 5, 30),
 (6, 6, 36),
 (6, 7, 42),
 (6, 8, 48),
 (6, 9, 54),
 (7, 0, 0),
 (7, 1, 7),
 (7, 2, 14),
 (7, 3, 21),
 (7, 4, 28),
 (7, 5, 35),
 (7, 6, 42),
 (7, 7, 49),
 (7, 8, 56),
 (7, 9, 63),
 (8, 0, 0),
 (8, 1, 8),
 (8, 2, 16),
 (8, 3, 24),
 (8, 4, 32),
 (8, 5, 40),
 (8, 6, 48),
 (8, 7, 56),
 (8, 8, 64),
 (8, 9, 72),
 (9, 0, 0),
 (9, 1, 9),
 (9, 2, 18),
 (9, 3, 27),
 (9, 4, 36),
 (9, 5, 45),
 (9, 6, 54),
 (9, 7, 63),
 (9, 8, 72),
 (9, 9, 81),
 (10, 0, 0),
 (10, 1, 10),
 (10, 2, 20),
 (10, 3, 30),
 (10, 4, 40),
 (10, 5, 50),
 (10, 6, 60),
 (10, 7, 70),
 (10, 8, 80),
 (10, 9, 90)]

In [86]:
%%timeit
temp = []
for i in range(10):
    temp.append(i)

910 ns ± 7.68 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [104]:
[x for x in range(1,11)] # 반복식 : 리스트, set, dict, 튜플은 제너레이터가 됨

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [107]:
a = (x for x in range(1,11))

In [108]:
next(a)

1

In [109]:
%%timeit
temp = []
for i in iter(range(10)):
    temp.append(i)

1.01 µs ± 27.8 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [110]:
from collections.abc import Iterable

In [111]:
from collections.abc import Iterator

In [113]:
set(dir(Iterator))-set(dir(Iterable))

{'__next__'}

In [114]:
%timeit sum([1,2,3,4,5,6,7,8,9,19])

267 ns ± 4.34 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [115]:
%timeit sum([x for x in range(1,11)])

906 ns ± 26.2 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [117]:
%timeit sum(x for x in range(1,11))

1.04 µs ± 3.55 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [118]:
def fibo(n):
    if n<3:
        return 1
    return fibo(n-1) + fibo(n-2)

In [121]:
fibo(4)

3

In [122]:
def add_one(x):
    return x+1

In [125]:
list(map(add_one,[1,2,3,4,5]))

[2, 3, 4, 5, 6]

In [129]:
%timeit map(lambda x:x+1,[1,2,3,4,5])

528 ns ± 35.2 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [128]:
%timeit [x+1 for x in [1,2,3,4,5]]

754 ns ± 18 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

## Predicate

In [131]:
tuple(filter(lambda x:x>3, [1,2,3,4,5,6]))

(4, 5, 6)

In [132]:
from functools import reduce

In [133]:
reduce(lambda x,y:x+y, [1,2,3,4,5])

15

## enumerate 
for문은 몇번째 인자인가 찾기 힘듬

In [134]:
a = '문근영 예뻐요'

In [138]:
for i,j in enumerate(a, 1):
    print(i,j)

1 문
2 근
3 영
4
5 예
6 뻐
7 요